asgiref==3.5.2
backports.zoneinfo==0.2.1
bleach==5.0.1
Django==4.1.1
django-debug-toolbar==3.7.0
django-fontawesome-5==1.0.18
django-phonenumber-field==7.0.0
django-summernote==0.8.20.0
phonenumberslite==8.12.56
psycopg2-binary==2.9.3
sendotp==0.0.4
simplejson==3.17.6
six==1.16.0
sqlparse==0.4.3
webencodings==0.5.1
django-oscar==3.1
sorl-thumbnail==12.9.0
pysolr==3.9.0