{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load i18n %}
{% load static %}

{% block content %}
<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">{% trans "Sign In" %}</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>
      {% blocktrans %}
        If you have not created an account yet, then please <a href="/signup/">Sign Up</a> first.
      {% endblocktrans %}
    </p>

    {{ form|crispy }}

    <!-- Hidden input field for custom redirection after successful login -->
    <input type="hidden" name="next" value="{% url 'homepage:index' %}" />
    <a class="button secondaryAction" href="{% url 'password_reset' %}">{% trans "Forgot Password?" %}</a>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">{% trans "Sign In" %}</button>
  </div>

</form>
{% endblock %}
