{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load i18n %}
{% load static %}


{% block content %}

<form id="logout_form" method="post" action="{% url 'homepage:index' %}">
{% csrf_token %}
	<div class="modal-header">
		<h3 class="modal-title">{% trans "Sign Out" %}</h3>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body">
		<p>{% trans 'Are you sure you want to sign out?' %}</p>
		<input type="hidden" name="next" value="{% url 'homepage:index' %}" />
	</div>

	<div class="modal-footer">
		<button type="submit" class="primaryAction btn btn-primary">{% trans 'Sign Out' %}</button>
	</div>
</form>

{% endblock %}

{% block jscript %}
<script type="text/javascript">
</script>
{% endblock %}
