{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}
{{ page_title }}
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block extra_style %}
{% endblock %}


{% block content %}

<section class="profile_section">
    <div class="container">
        <h2 class="home_title">Account Profile</h2>
        <div class="marketplace-wrapper">
            <div class="left-filter">
                <div class="left_menu">
                    <ul>
                        <li><a class="active" href="{% url 'my_orders' %}">Orders</a></li>
                        <li><a class="" href="{% url 'accounts:profile_detail' user_id.pk %}">Profile</a></li>
                        {# <li><a class="" href="download-report.html">Download Report</a></li> #}
                    </ul>
                </div>
            </div>
            <div class="right-cont">
                <div class="profile_box add_box">
                    <a href="#">Place Your Frist Order</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block extra_jscript %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script type='text/javascript'>
$(document).ready(function()
{
    $(document).on('click', '.number-spinner button', function () {
        var btn = $(this),
            oldValue = btn.closest('.number-spinner').find('input').val().trim(),
            newVal = 0;

        if (btn.attr('data-dir') == 'up') {
            newVal = parseInt(oldValue) + 1;
        } else {
            if (oldValue > 1) {
                newVal = parseInt(oldValue) - 1;
            } else {
                newVal = 1;
            }
        }
        btn.closest('.number-spinner').find('input').val(newVal);
    });

});
</script>

{% endblock %}

