<body>
	<section class="main-top-header">
		<style></style>
		<header class="site-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-12 flex">
						<div class="logo">
							<a href="/">
								<img class="img-fluid" src="/assets/images/logo.png">
							</a>
						</div>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-12">
						<div class="city-search-section">
							<div class="city-drpdwn">
								<!-- <script src="/assets/js/ajax_googleapi.js"></script>
									<script src="/assets/js/redirect.js"></script> -->
									<input autocomplete="new-password" name="hidden" type="text" style="display:none;">
									<input type="text" id="search-bar" class="city-search" placeholder="Search City" style="background:none; border:none;" value="Gurugram" aria-autocomplete="both" aria-haspopup="false" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="" role="combobox" spellcheck="false" name="q"/>
									<input type="hidden" name="test_location_id" id="city-holder" value="100"/>
							</div>
							<div class="search-center">
								<form action="/book-blood-test-online-in-india/" id="test_search_header_form" method="GET" class="search-container" accept-charset="utf-8">
									<input autocomplete="new-password" name="hidden" type="text" style="display:none;">
									<input type="hidden" name="test_location_id" id="city-holder-2" value="100"/>
									<input type="text" id="search-bar-2" class="test_search_input_field search__labtestpackage" placeholder="Search for a test, health package or Labs" aria-autocomplete="both" aria-haspopup="false" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="" role="combobox" spellcheck="false" name="q" />
									<input type="hidden" name="test_package_name" id="test-package-search-holder" />
								</form>
								<!--
									<form class="search-container">
										<input type="text" id="search-bar" placeholder="Search for a test, health package or lab address">
										<a href="#" class="search-icon"><i class="fa fa-search"></i></a>
									</form>
								-->
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 text-right md-0">
						<div class="right-infos">
							<ul>
								<li class="call">
									<a href="tel:+7500075111" title="">
										<div class="img">
											<img src="/assets/images/call-us.png" class="img-fluid">
										</div>  75000 75111
									</a>
								</li>
								<li class="lang-select">
									<ul class="links"></ul>
								</li>
								<li class="cart">
									<a href="/shopping-cart/" title="">
										<div class="img">
											<img src="/assets/images/cart.png" class="img-fluid">
											<span class="cart-badge"><span>
										</div>
									</a>
								</li>
								<li class="user">
									<a href="#" id="profile-open" data-toggle="tooltip" title="Hi Tes">
										<div class="img">T</div>
									</a>
									<div class="side-login side-profile" style="display:none;">
										<a href="#" class="close-login" id="profile-close-2">
											<img src="/assets/images/close.png" class="img-fluid">
										</a>
										<div class="side-login-inner">
											<div class="header">
												<img src="/assets/images/white-logo.png">
											</div>
											<div class="login-card loggedin">
												<h2>Hi, Tes</h2>
												<p><a href="/my-orders">Orders</a></p>
												<p><a href="/profile">Profile</a></p>
												<!--
													<p><a href="#">Privilege Card</a></p>
													<p><a href="#">Test History</a></p> -->
													<p><a href="/users/users_public/logout">Logout</a></p>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</header>
		<section class="navigation">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-lg-3 col-md-3 col-sm-12"></div>
					<div class="col-xs-10 col-lg-9 col-md-9 col-sm-12">
						<nav class="navbar navbar-expand-lg navbar-light">
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
								<ul class="navbar-nav mr-auto">
									<li class="nav-item">
										<a class="nav-link" href="/">HOME</a>
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Patients
										</a>
										<div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown">
											<a class="dropdown-item" href="/book-blood-test-online-in-india/">EXPLORE FULL TEST MENU</a>
											<a class="dropdown-item" href="/know-about-covid-19/">COVID-19</a>
											<a class="dropdown-item" href="/contactless-covid-19-drive-thru-testing/">COVID-19 DRIVE THRU</a>
											<a class="dropdown-item" href="/covid-19-faq">FAQS</a>
											<a class="dropdown-item" href="/blog">BLOGS</a>
											<a class="dropdown-item" href="/covid-19-video">VIDEOS</a>
											<a class="dropdown-item" href="/press-release">PR MEDIA</a>
											<a class="dropdown-item" href="/feedback-reviews">SHARE YOUR FEEDBACK</a>
										</div>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/book-blood-test-online-in-india/">BOOK A TEST</a>
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">DOCTORS</a>
										<div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown">
											<a class="dropdown-item" href="/national-reference-laboratory">NATIONAL REFERENCE LAB</a>
											<a class="dropdown-item" href="/general-clinic-research-and-development">RESEARCH AND DEVELOPMENT</a>
											<a class="dropdown-item" href="/download-test-forms">DOWNLOAD FORMS</a>
											<a class="dropdown-item" href="/scientific-literature">SCIENTIFIC LITERATURE</a>
											<a class="dropdown-item" href="/webinar-conferences">WEBINARS</a>
										</div>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="https://nearby.shrinivasdiagnostics.com/">LAB LOCATOR</a>
									</li>
								</ul>
								<ul class="navbar-nav ml-auto">
									<li class="nav-item">
										<a class="nav-link" href="http://104.211.117.133/download/PatientLogin.aspx"  class="download" target="_blank">DOWNLOAD REPORT</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/upload-prescription"  class="upload">UPLOAD PRESCRIPTION</a>
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PARTNER WITH US</a>
										<div class="dropdown-menu animate slideIn dropdown-menu-right" aria-labelledby="navbarDropdown">
											<a class="dropdown-item" href="/franchise-business-opportunities">FRANCHISING OPPORTUNITIES</a>
											<a class="dropdown-item" href="/annual-corporate-wellness-program">CORPORATE WELLNESS</a>
											<a class="dropdown-item" href="/hospital-lab-management">HOSPITAL LAB MANAGEMENT</a>
											<a class="dropdown-item" href="/organise-free-health-check-up-camps">ORGANISE CAMPS</a>
										</div>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</section>
	</section>
	<div class="inner-content inner-page-account">
		<div class="container">
			<div class="row m-b-20">
				<div class="col-md-8 col-sm-12">
					<h1 class="heading-small">Account Profile | Pathkind</h1>
				</div>
				<div class="col-md-4 col-sm-12 text-right">
					<a href="/users/users_public/logout" class="btn action-btn">Logout</a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-12">
					<div class="side-menu">
						<ul>
							<li><a href="/my-orders">Orders</a></li>
							<li><a href="/profile" class="active"">Profile</a></li>
							<!--
								<li><a href="#">Privilege Card</a></li>
								<li><a href="#">Test History</a></li>
							-->
							<li><a href="http://104.211.117.133/download/PatientLogin.aspx">Download Report</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-12">
					<div class="profile-right">
						<h2>Profile</h2>
						<div class="profile-box">
							<div class="profile-item">
								<h6>Name</h6>
								<h1>Tes</h1>
							</div>
							<div class="profile-item">
								<h6>Email</h6>
								<h1>tes@test.com</h1>
							</div>
							<div class="profile-item">
								<h6>Phone</h6>
								<h1>8968306095</h1>
							</div>
							<a href="#" class="action-profile">Edit</a>
						</div>
						<h2>Address</h2>
						<div class="row">
							<div class="col-md-6 m-b-30">
								<div class="add-details">
									<p>Grajaj 78
										<br>Gurugram
										<br>Haryana
										<br>152354
									</p>
									<a class="action action-editaddress" address-id="15644">
										<img src="/assets/images/edit-png.png">
										<span>Edit Address</span>
									</a>
									<div class="default-address-div">
										<input type="radio" daddress-id="15644" auser-id="43142" checked class="default-address">Make Default
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="add-details add-more">
									<a class="action action-address">
										<img src="/assets/images/add.svg">
										<span>Add Address</span>
									</a>
								</div>
							</div>
						</div>
						<h2>Patients</h2>
						<div class="row">
							<div class="col-md-4 m-b-30">
								<div class="patient-box">
									<div class="img">
										<h1>q</h1>
									</div>
									<h3>Qqqq</h3>
									<p>Male, 145 yrs</p>
									<a class="action action-editpatients" patient-id="45411">
										<img src="/assets/images/edit-png.png">
									</a>
									<button type="button" class="btn btn-xs sa-delete" data-id="45411" data-url="users/users_public/deletepatient/45411">
										<i class="fa fa-trash"></i>
									</button>
								</div>
							</div>
							<div class="col-md-4 m-b-30">
								<div class="patient-box add-more">
									<a class="action action-patients">
										<img src="/assets/images/add.svg">
										<span>Add Patient</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="edit-profile" style="display:none;">
					<a href="#" class="close-sidebar share-close" id="profile-close"><img src="/assets/images/close.png" class="img-fluid"></a>
					<div class="sidebar-inner">
						<div class="header">
							<img src="/assets/images/white-logo.png">
						</div>
						<div class="sidebar">
							<h3 class="heading-small-v-2">Edit Profile</h3>
							<form action="/users/Users_public/edit_user_profile" id="userProfileForm" method="post" accept-charset="utf-8">
								<input type="hidden" name="csrf_test_name" value="e6487d3b977967b94f50ce77b9726223" />
								<input type="hidden" name="user_id" value="43142" />
								<div class="form-group">
									<!-- <label for="name" class="required">Name</label> -->
									<input type="text" name="name" id="name" class="m-b-20 custom-form-control alpha_space_only" placeholder="Name" value="Tes" maxlength="60"/>
									<div class="form-error"></div>
								</div>
								<div class="form-group">
									<!-- <label for="email" class="required">Email</label> -->
									<input type="email" name="email" id="email" class="m-b-20 custom-form-control email_only" placeholder="Email" value="tes@test.com" maxlength="255"/>
									<div class="form-error"></div>
								</div>
								<div class="form-group">
									<!-- <label for="mobile" class="required">Mobile No.</label> -->
									<input type="text" readonly name="mobile" id="mobile" class="m-b-20 custom-form-control number_only" placeholder="Mobile No." value="8968306095" maxlength="10"/>
									<div class="form-error"></div>
								</div>
								<div class="form-group">
									<!-- <label for="mobile" class="required">Birthday</label> -->
									<input class="m-b-20 custom-form-control" name="birthdate" id="birthdate" type="text" placeholder="Date of Birth" onfocus="(this.type='date')" value="1985-12-01">
									<span class="form-error"></span>
								</div>
								<div class="form-group">
									<select name="gender" class="custom-form-control" id="gender">
										<option value="">Select Gender</option>
										<option value="1" selected="selected">Male</option>
										<option value="2">Female</option>
										<option value="3">Other</option>
									</select>
									<span class="form-error"></span>
								</div>
								<button type="submit" class="btn-2"><i class="fa fa-save"></i> Save</button>
							</form>
						</div>
					</div>
				</div>
				<div class="add-address" style="display:none;">
					<a href="#" class="close-sidebar share-close" id="addaddress-close"><img src="/assets/images/close.png" class="img-fluid"></a>
					<div class="sidebar-inner">
						<div class="header">
							<img src="/assets/images/white-logo.png">
						</div>
						<div class="sidebar">
							<h3 class="heading-small-v-2">Add Address</h3>
							<form action="/users/Users_public/add_user_address" id="userAddressForm" method="post" accept-charset="utf-8">
								<input type="hidden" name="csrf_test_name" value="e6487d3b977967b94f50ce77b9726223" />
								<input type="hidden" name="user_id" value="43142" />
								<div class="form-group">
									<!-- <label for="address" class="required">Address</label> -->
									<input type="text" name="address" class="m-b-20 custom-form-control" autocomplete="off" placeholder="Address" id="address" value=""/>
									<div class="form-error"></div>
								</div>
								<div class="form-group">
									<!-- <label for="state_id" class="required">State</label> -->
									<input type="text" id="state_id" class="m-b-20 custom-form-control" autocomplete="off" placeholder="Change State" />
									<input type="hidden" name="state_id" id="addprofile-state-holder" />
									<div class="form-error"></div>
								</div>
								<div class="form-group">
									<!-- <label for="city_id" class="required">City</label> -->
									<input type="text" id="city_id" class="m-b-20 custom-form-control" autocomplete="off" placeholder="Change City" />
									<input type="hidden" name="city_id" id="addprofile-city-holder" />
									<div class="form-error"></div>
								</div>
								<div class="form-group">
									<!-- <label for="location_id" class="required">Location</label> -->
									<input type="text" id="location_id" class="m-b-20 custom-form-control" autocomplete="off" placeholder="Change Location" />
									<input type="hidden" name="location_id" id="addprofile-location-holder" />
									<div class="form-error"></div>
								</div>
								<div class="form-group">
									<!-- <label for="pincode" class="required">Pincode</label> -->
									<input type="text" name="pincode" id="pincode" class="m-b-20 custom-form-control number_only" maxlength="6" autocomplete="off" placeholder="Pincode" value=""/>
									<div class="form-error"></div>
								</div>
								<button type="submit" class="btn-2"><i class="fa fa-save"></i> Save</button>
							</form>
						</div>
					</div>
				</div>
				<style>
				.form-group .easy-autocomplete
				{
					width: 100%!important;
				}
				</style>
				<div class="edit-address" style="display:none;">
					<a href="#" class="close-sidebar share-close" id="address-close"><img src="/assets/images/close.png" class="img-fluid"></a>
					<div class="sidebar-inner">
						<div class="header">
							<img src="/assets/images/white-logo.png">
						</div>
						<div class="sidebar">
							<h3 class="heading-small-v-2">Edit Address</h3>
							<form action="/users/Users_public/edit_user_address" id="userEditAddressForm" method="post" accept-charset="utf-8">
								<input type="hidden" name="csrf_test_name" value="e6487d3b977967b94f50ce77b9726223" />
								<input type="hidden" name="address_id" value="" id="editaddress_id">
								<div class="form-group">
									<!-- <label for="address" class="required">Address</label> -->
									<input type="text" name="address" class="m-b-20 custom-form-control address_1" placeholder="Address" id="address2" value=""/>
									<div class="form-error"></div>
								</div>
								<div class="form-group">
									<!-- <label for="state_id" class="required">State</label> -->
									<input type="text" id="state_id2" class="m-b-20 custom-form-control" placeholder="Change State" />
									<input type="hidden" name="state_id" id="profile-state-holder" />
									<div class="form-error"></div>
								</div>
								<div class="form-group">
									<!-- <label for="city_id" class="required">City</label> -->
									<input type="text" id="city_id2" class="m-b-20 custom-form-control" placeholder="Change City" />
									<input type="hidden" name="city_id" id="profile-city-holder" />
									<div class="form-error"></div>
								</div>
								<div class="form-group">
									<!-- <label for="location_id" class="required">Location</label> -->
									<input type="text" id="location_id2" class="m-b-20 custom-form-control" placeholder="Change Location" />
									<input type="hidden" name="location_id" id="profile-location-holder" />
									<div class="form-error"></div>
								</div>
								<div class="form-group">
									<!-- <label for="pincode" class="required">Pincode</label> -->
									<input type="text" name="pincode" id="pincode2" class="m-b-20 custom-form-control number_only" placeholder="Pincode" value="" maxlength="6"/>
									<div class="form-error"></div>
								</div>
								<button type="submit" class="btn-2"><i class="fa fa-save"></i> Save</button>
							</form>
						</div>
					</div>
				</div>
				<div class="edit-patients" style="display:none;">
					<a href="#" class="close-sidebar share-close" id="patient-close"><img src="/assets/images/close.png" class="img-fluid"></a>
					<div class="sidebar-inner">
						<div class="header">
							<img src="/assets/images/white-logo.png">
						</div>
						<div class="sidebar">
							<h3 class="heading-small-v-2">Add Patient</h3>
							<form action="/users/Users_public/add_patient" id="userPatientForm" method="post" accept-charset="utf-8">
								<input type="hidden" name="csrf_test_name" value="e6487d3b977967b94f50ce77b9726223" />
								<input type="hidden" name="user_id" value="43142" />
								<input type="hidden" name="patient_id" id="patient_id" >
								<div class="form-group">
									<input class="custom-form-control alpha_space_only" name="name" id="name1" type="text" placeholder="Name" maxlength="60">
									<span class="form-error"></span>
								</div>
								<div class="form-group">
									<input class="custom-form-control email_only" name="email" id="email1" type="email" placeholder="Email" maxlength="255">
									<span class="form-error"></span>
								</div>
								<div class="form-group">
									<input class="custom-form-control number_only" name="mobile" id="mobile1" type="text" placeholder="Mobile" maxlength="10">
									<span class="form-error"></span>
								</div>
								<div class="form-group">
									<input class="custom-form-control" name="birthdate" id="birthdate1" type="text" placeholder="Date of Birth" onfocus="(this.type='date')">
									<span class="form-error"></span>
								</div>
								<div class="row flex-custom-gender">
									<div class="form-group">
										<select name="gender" class="custom-form-control" id="gender1">
											<option value="" selected="selected">Select Gender</option>
											<option value="1">Male</option>
											<option value="2">Female</option>
											<option value="3">Other</option>
										</select>
										<span class="form-error"></span>
									</div>
									<div class="form-group">
										<select name="relation" class="custom-form-control" id="relation1">
											<option value="" selected="selected">Select Relation</option>
											<option value="1">Father</option>
											<option value="2">Mother</option>
											<option value="3">Spouse</option>
											<option value="4">Son</option>
											<option value="5">Daughter</option>
											<option value="6">Family</option>
										</select>
										<span class="form-error"></span>
									</div>
								</div>
								<button type="submit" class="btn-2"><i class="fa fa-save"></i> Save</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer class="footer-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<h2 class="footer-heading">Browse</h2>
				<ul class="footer-links">
					<li class=""><a href="/about-us/" title="About Us">About Us</a></li>
					<li class=""><a href="/careers/" title="Career">Career</a></li>
					<li class=""><a href="/covid-19-faq/" title="FAQ">FAQ</a></li>
					<li class=""><a href="/about-us#missionvision" title="Mission & Vision">Mission & Vision</a></li>
					<li class=""><a href="/book-blood-test-online-in-india/" title="Book a Test">Book a Test</a></li>
					<li class="dropright"><a href="#" title="Partner with Us">Partner with Us</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/franchise-business-opportunities/">Franchising Opportunities</a>
							<a class="dropdown-item" href="/annual-corporate-wellness-program/">Corporate Wellness</a>
							<a class="dropdown-item" href="/hospital-lab-management/">Hospital Lab Management</a>
							<a class="dropdown-item" href="/organise-free-health-check-up-camps/">Organise Camps</a>
						</div>
					</li>
					<li class="desktop-manage"><a href="/about-us#management" title="Management">Management</a></li>
					<li class=""><a href="http://sfa1.mankindpharma.in/DCR/ScrLogin.aspx" title="Employee Portal 1">Employee Portal 1</a></li>
					<li class=""><a href="http://sfa2.mankindpharma.in/DCR/ScrLogin.aspx" title="Employee Portal 2">Employee Portal 2</a></li>
					<li class=""><a href="/contact-us/" title="Contact Us">Contact Us</a></li>
					<li class=""><a href="/disclaimer/" title="Disclaimer">Disclaimer</a></li>
					<li class=""><a href="/privacy-policy/" title="Privacy Policy">Privacy Policy</a></li>
					<li class=""><a href="/terms-use/" title="Terms of Use">Terms of Use</a></li>
					<li class=""><a href="/disclosures/financialstatements/" title="Disclosures">Disclosures</a></li>
					<li class=""><a href="/upload-prescription/" title="Upload Prescription">Upload Prescription</a></li>
					<li class=""><a href="/health-packages/" title="Health Packages ">Health Packages </a></li>
					<li class=""><a href="/notices/" title="Notices">Notices</a></li>
					<li class=""><a href="/sitemap/" title="Sitemap">Sitemap</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12">
				<h2 class="footer-heading">Follow us</h2>
				<ul class="footer-links social">
					<li><a href="https://www.facebook.com/PathkindLabs/" title="facebook">facebook</a></li>
					<li><a href="https://twitter.com/shrinivasdiagnostics" title="twitter">Twitter</a></li>
					<li><a href="https://www.linkedin.com/company/pathkind-diagnostics-pvt-ltd" title="linkedin">Linked in</a></li>
					<li><a href="https://www.instagram.com/pathkind/" title="Instagram">Instagram</a></li>
					<li><a href="https://www.youtube.com/channel" title="Youtube">Youtube</a></li>
				</ul>
			</div>
		</div>
		<div class="row copyright-sec">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<p>&copy; 2022 Pathkind Diagnostics Pvt. Ltd. All Rights Reserved.</p>
			</div>
		</div>
	</div>
</footer>
</script>
</body>
</html>