<!-- Health Packages section start-->
<section class="health-packages">
	<div class="container" data-aos="zoom-out" data-aos-duration="1000">
		<div class="row">
			<div class="col-md-12">
				<h2 class="heading">Popular Health Packages</h2>
			</div>
		</div>
		<div class="row">
			<div class="region region-health-packages-section">
				<div id="block-popularhealthpackageblock" class="block block-unee-packages-tests block-popular-health-package-block">
					<div id="temp-health" class="flexslider optionset-blog-slider">
						<div class="flex-viewport" style="overflow: hidden; position: relative;">
							<ul class="slides" style="width: 1600%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
								<li data-thumb-alt="" style="width: 271px; margin-right: 16px; float: left; display: block;">
									<div class="temp-health">
										<div class="inner-pkg">
											<div class="best-seller">Best Seller</div>
											<h2 class="health-title">Healthkind Lite</h2>
											<span class="health-price"><i class="fa fa-inr" aria-hidden="true"></i> 1049</span>
											<span class="act-price"><i class="fa fa-inr" aria-hidden="true"></i>2950</span>
											<div class="test-20"> Tests</div>
											<span class="health-buynow 1"><a href="#" class="btn pkg-addtocart" id="10056">Add to Cart</a></span>
										</div>
										<div class="content-section">
											<div class="pkg-dtls">
												<div class="comp-name">Heart (8 Tests)</div>
												<div class="test-data">Total Cholesterol</div>
												<div class="test-data"> Triglycerides</div>
												<div class="test-data"> HDL Cholesterol</div>
												<div class="test-data"> Non HDL Cholesterol</div>
												<div class="test-data"> LDL Cholesterol (Calculated)</div>
												<div class="test-data"> VLDL Cholesterol</div>
												<div class="test-data"> Total Cholesterol / HDL Ratio</div>
												<div class="test-data"> LDL / HDL Ratio</div>
												<div class="comp-name">Diabetes (1 Tests)</div>
												<div class="test-data">FBS</div>
												<div class="comp-name">Kidney (8 Tests)</div>
												<div class="test-data">Urea</div>
												<div class="test-data"> BUN</div>
												<div class="test-data"> Creatinine</div>
												<div class="test-data"> Bun/Creatinine Ratio</div>
												<div class="test-data"> Uric Acid</div>
												<div class="test-data"> Serum Sodium</div>
												<div class="test-data"> Serum Potassium</div>
												<div class="test-data"> Serum Chloride </div>
												<div class="comp-name">Bones (2 Tests)</div>
												<div class="test-data">Calcium</div>
												<div class="test-data"> Phosphorus</div>
												<div class="comp-name">Thyroid (3 Tests)</div>
												<div class="test-data">T3</div>
												<div class="test-data"> T4</div>
												<div class="test-data"> TSH</div>
												<div class="comp-name">Liver (12 Tests)</div>
												<div class="test-data">Bilirubin (Total</div>
												<div class="test-data"> Direct</div>
												<div class="test-data"> Indirect)</div>
												<div class="test-data"> SGOT</div>
												<div class="test-data"> SGPT</div>
												<div class="test-data"> AST/ALT Ratio</div>
												<div class="test-data"> ALP</div>
												<div class="test-data"> GGT</div>
												<div class="test-data"> Protein</div>
												<div class="test-data"> Albumin</div>
												<div class="test-data">  Globulin</div>
												<div class="test-data"> A:G Ratio</div>
											</div>
										</div>
									</div>
								</li>
								<li data-thumb-alt="" style="width: 271px; margin-right: 16px; float: left; display: block;">
									<div class="temp-health">
										<div class="inner-pkg">
											<div class="best-seller">Best Seller</div>
											<h2 class="health-title">Healthkind Active</h2>
											<span class="health-price"><i class="fa fa-inr" aria-hidden="true"></i> 1349</span>
											<span class="act-price"><i class="fa fa-inr" aria-hidden="true"></i>3740</span>
											<div class="test-20"> Tests</div>
											<span class="health-buynow 1"><a href="#" class="btn pkg-addtocart" id="10057">Add to Cart</a></span>
										</div>
										<div class="content-section">
											<div class="pkg-dtls">
												<div class="comp-name">Heart (1 Tests)</div>
												<div class="test-data">Lipid Profile</div>
												<div class="comp-name">Diabetes (2 Tests)</div>
												<div class="test-data">FBS</div>
												<div class="test-data"> HbA1c</div>
												<div class="comp-name">Kidney (6 Tests)</div>
												<div class="test-data">Urea</div>
												<div class="test-data"> BUN</div>
												<div class="test-data"> Creatinine</div>
												<div class="test-data"> Bun/Creatinine Ratio</div>
												<div class="test-data"> Uric Acid</div>
												<div class="test-data"> Electrolytes</div>
												<div class="comp-name">Bones (2 Tests)</div>
												<div class="test-data">Calcium</div>
												<div class="test-data"> Phosphorus</div>
												<div class="comp-name">Thyroid (3 Tests)</div>
												<div class="test-data">T3</div>
												<div class="test-data"> T4</div>
												<div class="test-data"> TSH</div>
												<div class="comp-name">Liver (12 Tests)</div>
												<div class="test-data">Bilirubin (Total</div>
												<div class="test-data"> Direct</div>
												<div class="test-data"> Indirect)</div>
												<div class="test-data"> SGOT</div>
												<div class="test-data"> SGPT</div>
												<div class="test-data"> AST/ALT Ratio</div>
												<div class="test-data"> ALP</div>
												<div class="test-data"> GGT</div>
												<div class="test-data"> Protein</div>
												<div class="test-data"> Albumin</div>
												<div class="test-data">  Globulin</div>
												<div class="test-data"> A:G Ratio</div>
												<div class="comp-name">Infection (1 Tests)</div>
												<div class="test-data">CBC</div>
											</div>
										</div>
									</div>
								</li>
								<li data-thumb-alt="" style="width: 271px; margin-right: 16px; float: left; display: block;">
									<div class="temp-health">
										<div class="inner-pkg">
											<div class="best-seller">Best Seller</div>
											<h2 class="health-title">Healthkind Total</h2>
											<span class="health-price"><i class="fa fa-inr" aria-hidden="true"></i> 1849</span>
											<span class="act-price"><i class="fa fa-inr" aria-hidden="true"></i>5400</span>
											<div class="test-20"> Tests</div>
											<span class="health-buynow 1"><a href="#" class="btn pkg-addtocart" id="61">Add to Cart</a></span>
										</div>
										<div class="content-section">
											<div class="pkg-dtls">
												<div class="comp-name">Heart (1 Tests)</div>
												<div class="test-data">Lipid Profile</div>
												<div class="comp-name">Diabetes (2 Tests)</div>
												<div class="test-data">FBS</div>
												<div class="test-data"> HbA1c</div>
												<div class="comp-name">Kidney (7 Tests)</div>
												<div class="test-data">Urea</div>
												<div class="test-data"> BUN</div>
												<div class="test-data"> Creatinine</div>
												<div class="test-data"> Bun/Creatinine Ratio</div>
												<div class="test-data"> Electrolytes</div>
												<div class="test-data"> Uric Acid</div>
												<div class="test-data"> Urine R/E</div>
												<div class="comp-name">Bones (3 Tests)</div>
												<div class="test-data">Vitamin D</div>
												<div class="test-data"> Calcium</div>
												<div class="test-data"> Phosphorus</div>
												<div class="comp-name">Thyroid (3 Tests)</div>
												<div class="test-data">T3</div>
												<div class="test-data"> T4</div>
												<div class="test-data"> TSH</div>
												<div class="comp-name">Liver (12 Tests)</div>
												<div class="test-data">Bilirubin (Total</div>
												<div class="test-data"> Direct</div>
												<div class="test-data"> Indirect)</div>
												<div class="test-data"> SGOT</div>
												<div class="test-data"> SGPT</div>
												<div class="test-data"> AST/ALT Ratio</div>
												<div class="test-data"> ALP</div>
												<div class="test-data"> Protein</div>
												<div class="test-data"> Albumin</div>
												<div class="test-data">  Globulin</div>
												<div class="test-data"> A:G Ratio</div>
												<div class="test-data"> GGT</div>
												<div class="comp-name">Infection (1 Tests)</div>
												<div class="test-data">CBC</div>
											</div>
										</div>
									</div>
								</li>
								<li data-thumb-alt="" style="width: 271px; margin-right: 16px; float: left; display: block;">
									<div class="temp-health">
										<div class="inner-pkg">
											<div class="best-seller">Best Seller</div>
											<h2 class="health-title">Healthkind Complete</h2>
											<span class="health-price"><i class="fa fa-inr" aria-hidden="true"></i> 3199</span>
											<span class="act-price"><i class="fa fa-inr" aria-hidden="true"></i>6589</span>
											<div class="test-20"> Tests</div>
											<span class="health-buynow 1"><a href="#" class="btn pkg-addtocart" id="58">Add to Cart</a></span>
										</div>
										<div class="content-section">
											<div class="pkg-dtls">
												<div class="comp-name">Heart (1 Tests)</div>
												<div class="test-data">Lipid Profile</div>
												<div class="comp-name">Diabetes (2 Tests)</div>
												<div class="test-data">FBS</div>
												<div class="test-data"> HbA1c</div>
												<div class="comp-name">Kidney (7 Tests)</div>
												<div class="test-data">Urea</div>
												<div class="test-data"> BUN</div>
												<div class="test-data"> Creatinine</div>
												<div class="test-data"> Bun/Creatinine Ratio</div>
												<div class="test-data"> Electrolytes</div>
												<div class="test-data"> Uric Acid</div>
												<div class="test-data"> Urine R/E</div>
												<div class="comp-name">Bones (3 Tests)</div>
												<div class="test-data">Vitamin D</div>
												<div class="test-data"> Calcium</div>
												<div class="test-data"> Phosphorus</div>
												<div class="comp-name">Thyroid (3 Tests)</div>
												<div class="test-data">T3</div>
												<div class="test-data"> T4</div>
												<div class="test-data"> TSH</div>
												<div class="comp-name">Nerves (1 Tests)</div>
												<div class="test-data">Vitamin B12</div>
												<div class="comp-name">Liver (13 Tests)</div>
												<div class="test-data">Bilirubin (Total</div>
												<div class="test-data"> Direct</div>
												<div class="test-data"> Indirect)</div>
												<div class="test-data"> SGOT</div>
												<div class="test-data"> SGPT</div>
												<div class="test-data"> AST/ALT Ratio</div>
												<div class="test-data"> ALP</div>
												<div class="test-data"> GGT</div>
												<div class="test-data"> Protein</div>
												<div class="test-data"> Albumin</div>
												<div class="test-data"> Globulin</div>
												<div class="test-data"> A:G Ratio</div>
												<div class="test-data"> HBsAg</div>
												<div class="comp-name">Anaemia (4 Tests)</div>
												<div class="test-data">Iron</div>
												<div class="test-data"> TIBC</div>
												<div class="test-data"> UIBC</div>
												<div class="test-data"> % Saturation</div>
												<div class="comp-name">Infection (2 Tests)</div>
												<div class="test-data">CBC</div>
												<div class="test-data"> ESR</div>
											</div>
										</div>
									</div>
								</li>
								<li data-thumb-alt="" style="width: 271px; margin-right: 16px; float: left; display: block;">
									<div class="temp-health">
										<div class="inner-pkg">
											<div class="best-seller">Best Seller</div>
											<h2 class="health-title">Healthkind Advance </h2>
											<span class="health-price"><i class="fa fa-inr" aria-hidden="true"></i> 3999</span>
											<span class="act-price"><i class="fa fa-inr" aria-hidden="true"></i>7879</span>
											<div class="test-20"> Tests</div>
											<span class="health-buynow 1"><a href="#" class="btn pkg-addtocart" id="57">Add to Cart</a></span>
										</div>
										<div class="content-section">
											<div class="pkg-dtls">
												<div class="comp-name">Heart (1 Tests)</div>
												<div class="test-data">Lipid Profile with Direct LDL</div>
												<div class="comp-name">Diabetes (3 Tests)</div>
												<div class="test-data">FBS</div>
												<div class="test-data"> HbA1c</div>
												<div class="test-data"> Microalbumin</div>
												<div class="comp-name">Kidney (6 Tests)</div>
												<div class="test-data">BUN</div>
												<div class="test-data"> Creatinine</div>
												<div class="test-data"> BUN/Creatinine Ratio</div>
												<div class="test-data"> Electrolytes</div>
												<div class="test-data"> Uric Acid</div>
												<div class="test-data"> Urine R/E</div>
												<div class="comp-name">Bones (3 Tests)</div>
												<div class="test-data">Vitamin D</div>
												<div class="test-data"> Calcium</div>
												<div class="test-data"> Phosphorus</div>
												<div class="comp-name">Thyroid (3 Tests)</div>
												<div class="test-data">T3</div>
												<div class="test-data"> T4</div>
												<div class="test-data"> TSH</div>
												<div class="comp-name">Nerves (1 Tests)</div>
												<div class="test-data">Vitamin B12</div>
												<div class="comp-name">Liver (13 Tests)</div>
												<div class="test-data">Bilirubin (Total</div>
												<div class="test-data"> Direct</div>
												<div class="test-data"> Indirect)</div>
												<div class="test-data"> SGOT</div>
												<div class="test-data"> SGPT</div>
												<div class="test-data"> ALP</div>
												<div class="test-data"> GGT</div>
												<div class="test-data"> LDH</div>
												<div class="test-data"> Protein</div>
												<div class="test-data"> Albumin</div>
												<div class="test-data"> Globulin</div>
												<div class="test-data"> A:G Ratio</div>
												<div class="test-data"> HBsAg</div>
												<div class="comp-name">Anaemia (5 Tests)</div>
												<div class="test-data">Iron</div>
												<div class="test-data"> TIBC</div>
												<div class="test-data"> UIBC</div>
												<div class="test-data"> % Saturation</div>
												<div class="test-data"> Ferritin</div>
												<div class="comp-name">Infection (2 Tests)</div>
												<div class="test-data">CBC</div>
												<div class="test-data"> ESR</div>
											</div>
										</div>
									</div>
								</li>
								<li style="width: 271px; margin-right: 16px; float: left; display: block;">
									<div class="temp-health">
										<div class="inner-pkg">
											<div class="best-seller">Best Seller</div>
											<h2 class="health-title">Healthkind Platinum </h2>
											<span class="health-price"><i class="fa fa-inr" aria-hidden="true"></i> 4999</span>
											<span class="act-price"><i class="fa fa-inr" aria-hidden="true"></i>9480</span>
											<div class="test-20"> Tests</div>
											<span class="health-buynow 1"><a href="#" class="btn pkg-addtocart" id="59">Add to Cart</a></span>
										</div>
										<div class="content-section">
											<div class="pkg-dtls">
												<div class="comp-name">Heart (1 Tests)</div>
												<div class="test-data">Lipid Profile with Direct LDL</div>
												<div class="comp-name">Diabetes (3 Tests)</div>
												<div class="test-data">FBS</div>
												<div class="test-data"> HbA1c</div>
												<div class="test-data"> Microalbumin</div>
												<div class="comp-name">Kidney (6 Tests)</div>
												<div class="test-data">BUN</div>
												<div class="test-data"> Creatinine</div>
												<div class="test-data"> BUN/Creatinine Ratio</div>
												<div class="test-data"> Electrolytes</div>
												<div class="test-data"> Uric Acid</div>
												<div class="test-data"> Urine R/E</div>
												<div class="comp-name">Bones (4 Tests)</div>
												<div class="test-data">Vitamin D</div>
												<div class="test-data"> Calcium</div>
												<div class="test-data"> Phosphorus</div>
												<div class="test-data"> Rheumatoid Factor</div>
												<div class="comp-name">Thyroid (3 Tests)</div>
												<div class="test-data">FT3</div>
												<div class="test-data"> FT4</div>
												<div class="test-data"> TSH</div>
												<div class="comp-name">Nerves (1 Tests)</div>
												<div class="test-data">Vitamin B12</div>
												<div class="comp-name">Liver (13 Tests)</div>
												<div class="test-data">Bilirubin (Total</div>
												<div class="test-data"> Direct</div>
												<div class="test-data"> Indirect)</div>
												<div class="test-data"> SGOT</div>
												<div class="test-data"> SGPT</div>
												<div class="test-data"> ALP</div>
												<div class="test-data"> GGT</div>
												<div class="test-data"> LDH</div>
												<div class="test-data"> Protein</div>
												<div class="test-data"> Albumin</div>
												<div class="test-data"> Globulin</div>
												<div class="test-data"> A:G Ratio</div>
												<div class="test-data"> HBsAg</div>
												<div class="comp-name">Anaemia (6 Tests)</div>
												<div class="test-data">Iron</div>
												<div class="test-data"> TIBC</div>
												<div class="test-data"> UIBC</div>
												<div class="test-data"> % Saturation</div>
												<div class="test-data"> Ferritin</div>
												<div class="test-data"> Folic Acid</div>
												<div class="comp-name">Infection (2 Tests)</div>
												<div class="test-data">CBC</div>
												<div class="test-data"> ESR</div>
											</div>
										</div>
									</div>
								</li>
								<li style="width: 271px; margin-right: 16px; float: left; display: block;">
									<div class="temp-health">
										<div class="inner-pkg">
											<div class="best-seller">Best Seller</div>
											<h2 class="health-title">Healthkind Mini</h2>
											<span class="health-price"><i class="fa fa-inr" aria-hidden="true"></i> 499</span>
											<span class="act-price"><i class="fa fa-inr" aria-hidden="true"></i>910</span>
											<div class="test-20"> Tests</div>
											<span class="health-buynow 1"><a href="#" class="btn pkg-addtocart" id="10058">Add to Cart</a></span>
										</div>
										<div class="content-section">
											<div class="pkg-dtls">
												<div class="comp-name">Heart (1 Tests)</div>
												<div class="test-data">Total Cholesterol</div>
												<div class="comp-name">Diabetes (1 Tests)</div>
												<div class="test-data">FBS</div>
												<div class="comp-name">Kidney (1 Tests)</div>
												<div class="test-data">Creatinine</div>
												<div class="comp-name">Thyroid (1 Tests)</div>
												<div class="test-data">TSH</div>
												<div class="comp-name">Liver (3 Tests)</div>
												<div class="test-data">SGOT</div>
												<div class="test-data"> SGPT</div>
												<div class="test-data"> AST/ALT Ratio</div>
											</div>
										</div>
									</div>
								</li>
								<li style="width: 271px; margin-right: 16px; float: left; display: block;">
									<div class="temp-health">
										<div class="inner-pkg">
											<div class="best-seller">Best Seller</div>
											<h2 class="health-title">Healthkind Screen </h2>
											<span class="health-price"><i class="fa fa-inr" aria-hidden="true"></i> 799</span>
											<span class="act-price"><i class="fa fa-inr" aria-hidden="true"></i>1220</span>
											<div class="test-20"> Tests</div>
											<span class="health-buynow 1"><a href="#" class="btn pkg-addtocart" id="60">Add to Cart</a></span>
										</div>
										<div class="content-section">
											<div class="pkg-dtls">
												<div class="comp-name">Heart (2 Tests)</div>
												<div class="test-data">Total Cholesterol</div>
												<div class="test-data"> Triglycerides</div>
												<div class="comp-name">Diabetes (1 Tests)</div>
												<div class="test-data">FBS</div>
												<div class="comp-name">Kidney (3 Tests)</div>
												<div class="test-data">BUN</div>
												<div class="test-data"> Creatinine</div>
												<div class="test-data"> Bun/Creatinine Ratio</div>
												<div class="comp-name">Thyroid (1 Tests)</div>
												<div class="test-data">TSH</div>
												<div class="comp-name">Liver (2 Tests)</div>
												<div class="test-data">SGOT</div>
												<div class="test-data"> SGPT</div>
												<div class="comp-name">Infection (3 Tests)</div>
												<div class="test-data">Hb</div>
												<div class="test-data"> TLC</div>
												<div class="test-data"> Platelets</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<ol class="flex-control-nav flex-control-paging">
							<li><a href="#" class="flex-active">1</a></li>
							<li><a href="#" class="">2</a></li>
							<li><a href="#" class="">3</a></li>
							<li><a href="#" class="">4</a></li>
							<li><a href="#" class="">5</a></li>
						</ol>
						<ul class="flex-direction-nav">
							<li class="flex-nav-prev">
								<a class="flex-prev flex-disabled" href="#" tabindex="-1">Previous</a>
							</li>
							<li class="flex-nav-next">
								<a class="flex-next" href="#" tabindex="-1">Next</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Health Packages section end-->

