{% extends 'base.html' %}

{% block content %}
<!-- main header section end -->
<section class="sec1">
	<div class="container">
		<div class="row">
			<div class="breadcam-bg breadcam">
				<div class="container common-container four_content ">
					<div class="region region-highlighted">
						<div data-drupal-messages-fallback class="hidden"></div>
							<span data-big-pipe-placeholder-id="callback=Drupal%5CCore%5CRender%5CElement%5CStatusMessages%3A%3ArenderMessages&amp;args%5B0%5D&amp;token=_HAdUpwWmet0TOTe2PSiJuMntExoshbm1kh2wQzzzAA"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- hero section start -->
<section class="hero">
<div class="container-fluid">
<div class="row">
<div class="col-lg-6 col-md-12 col-sm-12 schedule-home-collection"> 
<div class="schedule-home-card"  data-aos="fade-right" data-aos-duration="1000">

<div class="region region-schedule-home-collection">
<div id="block-webform-5" class="block block-webform block-webform-block">


<form class="webform-submission-form webform-submission-add-form webform-submission-schedule-a-home-collection-form webform-submission-schedule-a-home-collection-add-form js-webform-disable-autosubmit js-webform-details-toggle webform-details-toggle" data-drupal-selector="webform-submission-schedule-a-home-collection-add-form" action="/" method="post" id="webform-submission-schedule-a-home-collection-add-form" accept-charset="UTF-8">

<h3>Schedule a Home Collection</h3><p>Choose from a range of comprehensive tests and packages and book home collection from the comfort of your home.</p><div data-webform-key="schedule_a_home_collection" data-drupal-selector="edit-schedule-a-home-collection" id="edit-schedule-a-home-collection" class="js-form-wrapper form-wrapper"><div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-name form-item-name form-no-label">
<input class="custom-form-control form-text required" autocomplete="off" data-drupal-selector="edit-name" type="text" id="edit-name" name="name" value="" size="60" maxlength="255" placeholder="What&#039;s your name? *" required="required" aria-required="true" />

</div>
<div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-mobile-no- form-item-mobile-no- form-no-label">
<input class="custom-form-control form-text required" autocomplete="off" data-webform-required-error="Please Enter Valid Mobile Number." data-drupal-selector="edit-mobile-no-" type="text" id="edit-mobile-no-" name="mobile_no_" value="" size="60" maxlength="10" placeholder="Mobile number *" required="required" aria-required="true" />

</div>
<div class="path-city-wrapper js-form-item form-item js-form-type-webform-autocomplete form-type-webform-autocomplete js-form-item-city-n form-item-city-n form-no-label">
<input class="path-city-auto form-autocomplete form-text webform-autocomplete" data-drupal-selector="edit-city-n" data-autocomplete-path="/webform/schedule_a_home_collection/autocomplete/city_n" type="text" id="edit-city-n" name="city_n" value="" size="60" maxlength="255" placeholder="City" />

</div>
</div>
<div data-drupal-selector="edit-actions" class="form-actions webform-actions js-form-wrapper form-wrapper" id="edit-actions"><input class="webform-button--next button js-form-submit form-submit" data-drupal-selector="edit-actions-wizard-next" type="submit" id="edit-actions-wizard-next" name="op" value="Submit" />

</div>
<input autocomplete="off" data-drupal-selector="form-fw-dmam8vuqmqno4bdaq-wzvquw8rywjgjojg71yuho" type="hidden" name="form_build_id" value="form-fw-dMAm8vUqmqnO4bDAq-wzVQuW8rywJGjOJG71yUHo" />
<input data-drupal-selector="edit-webform-submission-schedule-a-home-collection-add-form" type="hidden" name="form_id" value="webform_submission_schedule_a_home_collection_add_form" />



</form>

</div>

</div>

</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12" >
<div class="flexslider23" id="hero-slider44" data-aos="fade-left" data-aos-duration="1000">
<div class="region region-home-slider">
<div class="views-element-container block block-views block-views-blockslider-block-1" id="block-views-block-slider-block-1">


<div><div class="view view-slider view-id-slider view-display-id-block_1 js-view-dom-id-631abb0e36cae9d1714863c068225e9c83212fccb67b09ae1021fd2c4fee3eae">



<div class="view-content">

<div>

<div id="homeflexslider" class="flexslider optionset-default">

<ul class="slides">

<li>
<div class="views-field views-field-field-image"><div class="field-content">  <img src="/assets/images/Web-image-4.jpg" width="800" height="593" alt="rt pcr test for covid 19" loading="lazy" typeof="foaf:Image" />

</div></div>
<div class="flex-caption"><h3>COVID-19 RT PCR Test</h3>

<p>The Gold Standard test for detecting Coronavirus</p>
<a href="/know-about-covid-19" title="see-details" target="_blank">See Details</a> </div>
</li>
<li>
<div class="views-field views-field-field-image"><div class="field-content">  <img src="/assets/images/Web-image-2.jpg" width="800" height="593" alt="blood test at home near me" loading="lazy" typeof="foaf:Image" />

</div></div>
<div class="flex-caption"><h3>Worried about going out for a blood test?<br />
Relax, we will come to you.</h3>

<p>Book sample collection at the comfort of your home</p>
<a href="/pathkind_app/book-blood-test-online-in-india" title="see-details" target="_blank">See Details</a> </div>
</li>
<li>
<div class="views-field views-field-field-image"><div class="field-content">  <img src="/assets/images/Web-images-1.jpg" width="800" height="593" alt="Recovery status of covid 19" loading="lazy" typeof="foaf:Image" />

</div></div>
<div class="flex-caption"><h3>Have you recovered completely from<br />
COVID-19?</h3>

<p>Know your recovery status with our COVID Recovery Panels</p>
<a href="/pathkind_app/book-blood-test-online-in-india" title="see-details" target="_blank">See Details</a> </div>
</li>
<li>
<div class="views-field views-field-field-image"><div class="field-content">  <img src="/assets/images/Web-image-3_0.jpg" width="800" height="593" alt="Health checkup packages" loading="lazy" typeof="foaf:Image" />

</div></div>
<div class="flex-caption"><h3>Choose from a range of comprehensive<br />
full body health check-up packages.</h3>

<p>for you and your family</p>
<a href="/pathkind_app/book-blood-test-online-in-india?sort_by=2" title="see-details" target="_blank">See Details</a> </div>
</li>
<li>
<div class="views-field views-field-field-image"><div class="field-content">  <img src="/assets/images/Web-image-5.jpg" width="800" height="593" alt="Covid 19 antibody test" loading="lazy" typeof="foaf:Image" />

</div></div>
<div class="flex-caption"><h3>COVID-19 Antibody Test</h3>

<p>Know your Antibody levels and the effectiveness of COVID vaccine</p>
<a href="/pathkind_app/book-blood-test-online-in-india" title="see-details" target="_blank">See Details</a> </div>
</li>
</ul>
</div>

</div>

</div>

</div>
</div>

</div>

</div>

</div>
</div>
</div>
</div>
</section>
<!-- hero section end -->

<!-- Health Packages section start-->
<section class="health-packages">
<div class="container" data-aos="zoom-out" data-aos-duration="1000">
<div class="row"> 
<div class="col-md-12">
<h2 class="heading">Popular Health Packages</h2>
</div>
</div>
<div class="row"> 
<div class="region region-health-packages-section">
<span data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=popularhealthpackageblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=a72RqLWr6XImlRBxQyeg-zcjbvZBTybIBoZoa5wGyog"></span>
</div>

</div> 
</div> 

</section>
<!-- Health Packages section end-->

<!-- tests section start -->
<section class="tests-section">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-right" data-aos-duration="1000">
<h2 class="heading-2">Test by Body Parts</h2>
<div class="row">
<div class="region region-test-by-body-parts">
<div class="views-element-container block block-views block-views-blocktest-by-body-parts-block-1" id="block-views-block-test-by-body-parts-block-1">


<div><div class="view view-test-by-body-parts view-id-test_by_body_parts view-display-id-block_1 js-view-dom-id-fe9b18894d2450e6fd8e02bd9c34d2accbeb7f4504d1773d59f60700738c9eba">



<div class="view-content">
<div class="views-row"><a target="_blank" href="/pathkind_app/book-blood-test-online-in-india?organs=7 "><span class="img-bparts">  <img src="/assets/images/heart.png" width="40" height="40" alt="Heart" loading="lazy" typeof="Image" class="image-style-thumbnail" />


</span><span class="title-bparts">Heart</span></a></div>
<div class="views-row"><a target="_blank" href="/pathkind_app/book-blood-test-online-in-india?organs=3 "><span class="img-bparts">  <img src="/assets/images/liver.png" width="40" height="40" alt="Liver" loading="lazy" typeof="Image" class="image-style-thumbnail" />


</span><span class="title-bparts">Liver</span></a></div>
<div class="views-row"><a target="_blank" href="/pathkind_app/book-blood-test-online-in-india?organs=5 "><span class="img-bparts">  <img src="/assets/images/kidney.png" width="40" height="40" alt="Kidney" loading="lazy" typeof="Image" class="image-style-thumbnail" />


</span><span class="title-bparts">Kidney</span></a></div>
<div class="views-row"><a target="_blank" href="/pathkind_app/book-blood-test-online-in-india?organs=1 "><span class="img-bparts">  <img src="/assets/images/bone.png" width="40" height="40" alt="Bone" loading="lazy" typeof="Image" class="image-style-thumbnail" />


</span><span class="title-bparts">Bone</span></a></div>
<div class="views-row"><a target="_blank" href="/pathkind_app/book-blood-test-online-in-india?organs=6 "><span class="img-bparts">  <img src="/assets/images/thyroid.png" width="40" height="40" alt="Thyroid" loading="lazy" typeof="Image" class="image-style-thumbnail" />


</span><span class="title-bparts">Thyroid</span></a></div>

</div>

</div>
</div>

</div>

</div>

</div>

<h2 class="heading-2">Test by Condition</h2>
<!--<div class="row">-->
<div class="region region-test-by-condition">
<div class="views-element-container block block-views block-views-blocktest-by-condition-block-1" id="block-views-block-test-by-condition-block-1">


<div><div class="view view-test-by-condition view-id-test_by_condition view-display-id-block_1 js-view-dom-id-a2687d4c5f65f28db04ff8c68e50777a30540c899560019323960d7c8ea87af9">



<div class="view-content">
<div class="views-row"><a target="_blank" href="/pathkind_app/book-blood-test-online-in-india?health_conditions=3 "><span class="img-borgn">  <img src="/assets/images/diabetes.png" width="40" height="40" alt="BONE &amp; JOINT DISORDERS" loading="lazy" typeof="Image" class="image-style-thumbnail" />


</span><span class="img-borgntitle">Diabetes</span></a>
</div>
<div class="views-row"><a target="_blank" href="/pathkind_app/book-blood-test-online-in-india?organs=6 "><span class="img-borgn">  <img src="/assets/images/thyroid_1.png" width="40" height="40" alt="Thyroid" loading="lazy" typeof="Image" class="image-style-thumbnail" />


</span><span class="img-borgntitle">Thyroid</span></a>
</div>
<div class="views-row"><a target="_blank" href="/pathkind_app/book-blood-test-online-in-india?organs=5 "><span class="img-borgn">  <img src="/assets/images/kidney_0.png" width="40" height="40" alt="Kidney" loading="lazy" typeof="Image" class="image-style-thumbnail" />


</span><span class="img-borgntitle">Kidney</span></a>
</div>

</div>

</div>
</div>

</div>

</div>

<!--</div>-->

</div>
<div class="col-md-12 col-lg-5 col-sm-12 offset-md-1 offset-lg-1" data-aos="fade-left" data-aos-duration="1000">
<div class="popular-tests-box m-t-75">
<h3 class="heading-small">Most Popular Tests</h3>
<div class="region region-most-popular-test">
<span data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=mostpopulartestsblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=ecwBb6hxvKueMmv99VW-nC25IkeBAv0t-MldUd9-ruA"></span>
</div>


</div>
</div>
</div>
</div>
</section>
<!-- tests section end -->
<!-- testimonial section start -->
<section class="testimonial">
<div class="container">
<div class="row" data-aos="fade-right" data-aos-duration="800">
<div class="col-md-12">
<h2 class="heading">Happy Customers</h2>
</div>
</div>
<div class="row">
<div class="col-md-6 col-lg-4 col-sm-12" data-aos="fade-right" data-aos-duration="800">
<div class="testimonial-videoCoverImage">
<div class="region region-happy-customer-left">
<div class="views-element-container block block-views block-views-blocktestimonials-block-2" id="block-views-block-testimonials-block-2">


<div><div class="view view-testimonials view-id-testimonials view-display-id-block_2 js-view-dom-id-cdf23c460ab006d147eaaedddca22ad16d227ba29c7f298724f50bd837a30625">



<div class="view-content">

<div>

<div id="happyTestimonial" class="flexslider optionset-testimonial-slider">

<ul class="slides">

<li>
<div class="views-field views-field-field-video-uploaded"><div class="field-content"><div data-video-embed-field-lazy="&lt;div class=&quot;video-embed-field-provider-youtube video-embed-field-responsive-video&quot;&gt;&lt;iframe width=&quot;854&quot; height=&quot;480&quot; frameborder=&quot;0&quot; allowfullscreen=&quot;allowfullscreen&quot; src=&quot;https://www.youtube.com/embed/ActOcpXziOQ?autoplay=1&amp;loop=1&amp;Rel=0&amp;wmode=transparent&quot; frameborder=&quot;0&quot; allow=&quot;autoplay&quot; allowfullscreen wmode=&quot;Opaque&quot;&gt;&lt;/iframe&gt;
&lt;/div&gt;
" class="video-embed-field-lazy"><img src="/assets/images/ActOcpXziOQ.jpg" alt="" typeof="foaf:Image" class="image-style-large" />

<button class="video-embed-field-lazy-play"></button>
</div>
</div></div><div class="views-field views-field-body"><div class="field-content"><p>Here's what three buddies Mr Vivian D'Souza, Mr Karan and Mr Jigar Shah have to say about their experience with Pathkind Labs. Watch out now!</p></div></div><div class="views-field views-field-uid"><span class="field-content">Mr Vivian D&#039;Souza, Mr Karan and Mr Jigar Shah</span></div>
</li>
<li>
<div class="views-field views-field-field-video-uploaded"><div class="field-content"><div data-video-embed-field-lazy="&lt;div class=&quot;video-embed-field-provider-youtube video-embed-field-responsive-video&quot;&gt;&lt;iframe width=&quot;854&quot; height=&quot;480&quot; frameborder=&quot;0&quot; allowfullscreen=&quot;allowfullscreen&quot; src=&quot;https://www.youtube.com/embed/v83esXNh3K8?autoplay=1&amp;loop=1&amp;Rel=0&amp;wmode=transparent&quot; frameborder=&quot;0&quot; allow=&quot;autoplay&quot; allowfullscreen wmode=&quot;Opaque&quot;&gt;&lt;/iframe&gt;
&lt;/div&gt;
" class="video-embed-field-lazy"><img src="/assets/images/v83esXNh3K8.jpg" alt="" typeof="foaf:Image" class="image-style-large" />

<button class="video-embed-field-lazy-play"></button>
</div>
</div></div><div class="views-field views-field-body"><div class="field-content"><p>Very impressed by the home service experience.</p></div></div><div class="views-field views-field-uid"><span class="field-content">Dr Anjali Nayar</span></div>
</li>
<li>
<div class="views-field views-field-field-video-uploaded"><div class="field-content"><div data-video-embed-field-lazy="&lt;div class=&quot;video-embed-field-provider-youtube video-embed-field-responsive-video&quot;&gt;&lt;iframe width=&quot;854&quot; height=&quot;480&quot; frameborder=&quot;0&quot; allowfullscreen=&quot;allowfullscreen&quot; src=&quot;https://www.youtube.com/embed/spLDyON0oso?autoplay=1&amp;loop=1&amp;Rel=0&amp;wmode=transparent&quot; frameborder=&quot;0&quot; allow=&quot;autoplay&quot; allowfullscreen wmode=&quot;Opaque&quot;&gt;&lt;/iframe&gt;
&lt;/div&gt;
" class="video-embed-field-lazy"><img src="/assets/images/spLDyON0oso.jpg" alt="" typeof="foaf:Image" class="image-style-large" />

<button class="video-embed-field-lazy-play"></button>
</div>
</div></div><div class="views-field views-field-body"><div class="field-content"><p>Very impressed by the home service experience.</p></div></div><div class="views-field views-field-uid"><span class="field-content">Dr Anjali Nayar</span></div>
</li>
</ul>
</div>

</div>

</div>

</div>
</div>

</div>

</div>


</div>      
</div>
<div class="col-md-6 col-lg-8 col-sm-12" data-aos="fade-left" data-aos-duration="800">
<div class="region region-happy-customer-right">
<div class="views-element-container block block-views block-views-blocktestimonials-block-1" id="block-views-block-testimonials-block-1">


<div><div class="view view-testimonials view-id-testimonials view-display-id-block_1 js-view-dom-id-f556694bf1d8b0388876c2e20dadea8a75f5739935919393512845614a1b18c6">



<div class="view-content">
<div class="views-row"><div class="views-field views-field-field-feedback"><div class="field-content">Service is good, affordable pricing and timely report, overall experience was very good.</div></div><div class="views-field views-field-field-overall-feedback"><div class="field-content"><form class="fivestar-form-4" id="vote--4" data-drupal-selector="fivestar-form-4" action="/" method="post" accept-charset="UTF-8">
<div class="clearfix fivestar-average-text fivestar-average-stars fivestar-form-item fivestar-basic"><div class="js-form-item form-item js-form-type-fivestar form-type-fivestar js-form-item-vote form-item-vote form-no-label">
<input class="vote" data-drupal-selector="edit-vote" type="hidden" name="vote" value="60" />
<div class="fivestar-static-form-item"><div class="js-form-item form-item js-form-type-item form-type-item js-form-item- form-item-">

<div class="fivestar-"><div class="fivestar-widget-static fivestar-widget-static- fivestar-widget-static-5 clearfix"><div class="star star-1 star-odd star-first"><span class="on">3</span></div><div class="star star-2 star-even"><span class="on"></span></div><div class="star star-3 star-odd"><span class="on"></span></div><div class="star star-4 star-even"><span class="off"></span></div><div class="star star-5 star-odd star-last"><span class="off"></span></div></div></div>
</div>
</div>
</div>
</div><input style="display:none" data-drupal-selector="edit-submit" type="submit" id="edit-submit--4" name="op" value="Rate" class="button js-form-submit form-submit" />
<input autocomplete="off" data-drupal-selector="form-imk5efoiju6gqrmjjhds0o5xnsyqvfpuav7-blyvlhg" type="hidden" name="form_build_id" value="form-IMk5eFoiju6gqRmJJHdS0o5xNsyQVFpuAV7-BLYvlHg" />
<input data-drupal-selector="edit-fivestar-form-4" type="hidden" name="form_id" value="fivestar_form_4" />

</form>
</div></div><div class="views-field views-field-title-1"><span class="field-content">Mr. Abishek Tappo</span></div></div>
<div class="views-row"><div class="views-field views-field-field-feedback"><div class="field-content">Well everything is fine and I don&#039;t think you need to change anything.</div></div><div class="views-field views-field-field-overall-feedback"><div class="field-content"><form class="fivestar-form-5" id="vote--5" data-drupal-selector="fivestar-form-5" action="/" method="post" accept-charset="UTF-8">
<div class="clearfix fivestar-average-text fivestar-average-stars fivestar-form-item fivestar-basic"><div class="js-form-item form-item js-form-type-fivestar form-type-fivestar js-form-item-vote form-item-vote form-no-label">
<input class="vote" data-drupal-selector="edit-vote" type="hidden" name="vote" value="100" />
<div class="fivestar-static-form-item"><div class="js-form-item form-item js-form-type-item form-type-item js-form-item- form-item-">

<div class="fivestar-"><div class="fivestar-widget-static fivestar-widget-static- fivestar-widget-static-5 clearfix"><div class="star star-1 star-odd star-first"><span class="on">5</span></div><div class="star star-2 star-even"><span class="on"></span></div><div class="star star-3 star-odd"><span class="on"></span></div><div class="star star-4 star-even"><span class="on"></span></div><div class="star star-5 star-odd star-last"><span class="on"></span></div></div></div>
</div>
</div>
</div>
</div><input style="display:none" data-drupal-selector="edit-submit" type="submit" id="edit-submit--5" name="op" value="Rate" class="button js-form-submit form-submit" />
<input autocomplete="off" data-drupal-selector="form-1ju2nlylnhu0jfndaqwyl-wmbn7igunu-yn8be4ckag" type="hidden" name="form_build_id" value="form-1Ju2nlYLNHU0JFndAQwyL-wMbN7igunu-Yn8Be4cKag" />
<input data-drupal-selector="edit-fivestar-form-5" type="hidden" name="form_id" value="fivestar_form_5" />

</form>
</div></div><div class="views-field views-field-title-1"><span class="field-content">Ms. Akriti Verma</span></div></div>
<div class="views-row"><div class="views-field views-field-field-feedback"><div class="field-content">Great Experience, Best Quality Product and Best Results.</div></div><div class="views-field views-field-field-overall-feedback"><div class="field-content"><form class="fivestar-form-6" id="vote--6" data-drupal-selector="fivestar-form-6" action="/" method="post" accept-charset="UTF-8">
<div class="clearfix fivestar-average-text fivestar-average-stars fivestar-form-item fivestar-basic"><div class="js-form-item form-item js-form-type-fivestar form-type-fivestar js-form-item-vote form-item-vote form-no-label">
<input class="vote" data-drupal-selector="edit-vote" type="hidden" name="vote" value="100" />
<div class="fivestar-static-form-item"><div class="js-form-item form-item js-form-type-item form-type-item js-form-item- form-item-">

<div class="fivestar-"><div class="fivestar-widget-static fivestar-widget-static- fivestar-widget-static-5 clearfix"><div class="star star-1 star-odd star-first"><span class="on">5</span></div><div class="star star-2 star-even"><span class="on"></span></div><div class="star star-3 star-odd"><span class="on"></span></div><div class="star star-4 star-even"><span class="on"></span></div><div class="star star-5 star-odd star-last"><span class="on"></span></div></div></div>
</div>
</div>
</div>
</div><input style="display:none" data-drupal-selector="edit-submit" type="submit" id="edit-submit--6" name="op" value="Rate" class="button js-form-submit form-submit" />
<input autocomplete="off" data-drupal-selector="form-urrxxuxxsoebom8omorsohetexffx8przwhcefmvl80" type="hidden" name="form_build_id" value="form-uRRxXuxXsoebOM8OMORSohEtexFfx8PRzwHcEFmVL80" />
<input data-drupal-selector="edit-fivestar-form-6" type="hidden" name="form_id" value="fivestar_form_6" />

</form>
</div></div><div class="views-field views-field-title-1"><span class="field-content">Mr. Vikas Sapkal </span></div></div>
<div class="views-row"><div class="views-field views-field-field-feedback"><div class="field-content">In my area, your lab is awesome &amp; staff behavior is very nice and helpful.</div></div><div class="views-field views-field-field-overall-feedback"><div class="field-content"><form class="fivestar-form-7" id="vote--7" data-drupal-selector="fivestar-form-7" action="/" method="post" accept-charset="UTF-8">
<div class="clearfix fivestar-average-text fivestar-average-stars fivestar-form-item fivestar-basic"><div class="js-form-item form-item js-form-type-fivestar form-type-fivestar js-form-item-vote form-item-vote form-no-label">
<input class="vote" data-drupal-selector="edit-vote" type="hidden" name="vote" value="60" />
<div class="fivestar-static-form-item"><div class="js-form-item form-item js-form-type-item form-type-item js-form-item- form-item-">

<div class="fivestar-"><div class="fivestar-widget-static fivestar-widget-static- fivestar-widget-static-5 clearfix"><div class="star star-1 star-odd star-first"><span class="on">3</span></div><div class="star star-2 star-even"><span class="on"></span></div><div class="star star-3 star-odd"><span class="on"></span></div><div class="star star-4 star-even"><span class="off"></span></div><div class="star star-5 star-odd star-last"><span class="off"></span></div></div></div>
</div>
</div>
</div>
</div><input style="display:none" data-drupal-selector="edit-submit" type="submit" id="edit-submit--7" name="op" value="Rate" class="button js-form-submit form-submit" />
<input autocomplete="off" data-drupal-selector="form-ilqxfuuhhr5u7xf0wfaexbtzlb5gf6po2wb0v2xj77g" type="hidden" name="form_build_id" value="form-IlqxFuUhhr5u7XF0WfAExbtzlb5Gf6pO2WB0v2Xj77g" />
<input data-drupal-selector="edit-fivestar-form-7" type="hidden" name="form_id" value="fivestar_form_7" />

</form>
</div></div><div class="views-field views-field-title-1"><span class="field-content">Ms. Sonam Srivastava</span></div></div>

</div>

<div class="view-footer">
<div class="row">
<a href="testimonials" class="btn btn-custom-inner">Read all</a>
</div>
</div>
</div>
</div>

</div>

</div>

<!--<div class="row">
<a href="#" class="btn btn-custom-inner">Read all</a>
</div>-->
</div>
</div>
</div>
</section>

<!-- testimonial section end -->

<!-- Blogs section start-->
<section class="blogs">
<div class="container" data-aos="zoom-in" data-aos-duration="1000">
<div class="row">
<div class="col-md-12">
<h2 class="heading">Blogs</h2>
</div>
</div>
<div class="row"> 
<div class="region region-blog-section">
<div class="views-element-container block block-views block-views-blockblog-block-1" id="block-views-block-blog-block-1">


<div><div class="view view-blog view-id-blog view-display-id-block_1 js-view-dom-id-5d22115641d819ea8556cbac33b718ae7c5c40a46be01ba8dd4c41397b78d3c1">



<div class="view-content">

<div>

<div id="blog" class="flexslider optionset-blog-slider">

<ul class="slides">

<li>
<img src="/sites/default/files/styles/large/public/2022-10/3_800X500.jpg" width="480" height="300" alt="heart check up" loading="lazy" typeof="foaf:Image" class="image-style-large" />


<a href="/health/know-everything-about-cardiac-health-and-checkup" hreflang="en">Know everything about Cardiac Health and Checkup</a><div class="blog-info">
<span class="author-info">By: Pathkind Labs</span><span class="blog-date">03-Oct-2022</span>
</div><p class="field-content">What is a Cardiac Test?



A cardiac test or a cardiovascular screening test is a group of tests…</p><a href="/health/know-everything-about-cardiac-health-and-checkup" hreflang="en">Read More</a>
</li>
<li>
<img src="/sites/default/files/styles/large/public/2022-09/1-01_1.jpeg" width="480" height="270" alt="tlc test normal range" loading="lazy" typeof="foaf:Image" class="image-style-large" />


<a href="/health/total-leukocyte-count-test-and-normal-ranges" hreflang="en">Total Leukocyte Count test and Normal Ranges</a><div class="blog-info">
<span class="author-info">By: Pathkind Labs</span><span class="blog-date">28-Sep-2022</span>
</div><p class="field-content">What are leukocytes?

Leukocytes are nothing but white coloured blood cells that protect and fight…</p><a href="/health/total-leukocyte-count-test-and-normal-ranges" hreflang="en">Read More</a>
</li>
<li>
<img src="/sites/default/files/styles/large/public/2022-09/Featured%20Image.jpg" width="480" height="300" alt="Hormones Affecting on Sex Drive" loading="lazy" typeof="foaf:Image" class="image-style-large" />


<a href="/health/are-hormones-killing-your-sex-life-understand-effects-hormones-your-libido" hreflang="en">Are Hormones Killing Your Sex Life? Understand Effects of Hormones on Your Libido</a><div class="blog-info">
<span class="author-info">By: Pathkind Labs</span><span class="blog-date">26-Sep-2022</span>
</div><p class="field-content">Are Hormones Affecting Your Sex Drive?

Are hormones in a major play influencing your sex drive?…</p><a href="/health/are-hormones-killing-your-sex-life-understand-effects-hormones-your-libido" hreflang="en">Read More</a>
</li>
<li>
<img src="/sites/default/files/styles/large/public/2022-09/BLOOD%20CULTURE.jpg" width="480" height="300" alt="culture blood test" loading="lazy" typeof="foaf:Image" class="image-style-large" />


<a href="/health/blood-culture-test-overview-process-post-care-more" hreflang="en">Blood Culture Test Overview, Process, Post-care &amp; More</a><div class="blog-info">
<span class="author-info">By: Pathkind Labs</span><span class="blog-date">20-Sep-2022</span>
</div><p class="field-content">A blood Culture Test detects the presence of bacteria (bacteraemia), viruses (viremia), or fungi (…</p><a href="/health/blood-culture-test-overview-process-post-care-more" hreflang="en">Read More</a>
</li>
<li>
<img src="/sites/default/files/styles/large/public/2022-09/Vitamin%20B12%20Deficiency.jpg" width="480" height="300" alt="vitamin b12 deficiency treatment" loading="lazy" typeof="foaf:Image" class="image-style-large" />


<a href="/health/guide-vitamin-b12-deficiency-test-significance-causes-symptoms-treatment" hreflang="en">Guide on Vitamin B12 Deficiency Test, Significance, Causes, Symptoms &amp; Treatment</a><div class="blog-info">
<span class="author-info">By: Pathkind Labs</span><span class="blog-date">16-Sep-2022</span>
</div><p class="field-content">You must be aware of the nutrients required by our bodies to function optimally. Do you know the 13…</p><a href="/health/guide-vitamin-b12-deficiency-test-significance-causes-symptoms-treatment" hreflang="en">Read More</a>
</li>
</ul>
</div>

</div>

</div>

</div>
</div>

</div>

</div>

</div> 
<div class="row">
<div class="col-md-12 text-center">
<a href="blog" class="btn btn-custom-inner">Read all</a>
</div>
</div>
</div>
</section>
<!-- Blogs section end-->

<!-- video section start-->
<section class="video-section">
<div class="container" data-aos="fade-up" data-aos-duration="1000">
<div class="row">
<div class="col-md-12">
<h2 class="heading">Video Gallery</h2>
</div>
</div>
<div class="row">
<div class="col-lg-6 col-md-12 col-sm-12">
<div class="region region-webcast-home">
<div class="views-element-container block block-views block-views-blockvideo-gallery-block-1" id="block-views-block-video-gallery-block-1">


<div><div class="view view-video-gallery view-id-video_gallery view-display-id-block_1 js-view-dom-id-d2506a9c524e5736c2e22f29cb682fe60a53915332edb7f30975be8301fc0a22">



<div class="view-content">
<div class="views-row"><div class="views-field views-field-field-video-uploaded"><div class="field-content"><div data-video-embed-field-lazy="&lt;div class=&quot;video-embed-field-provider-youtube video-embed-field-responsive-video&quot;&gt;&lt;iframe width=&quot;854&quot; height=&quot;480&quot; frameborder=&quot;0&quot; allowfullscreen=&quot;allowfullscreen&quot; src=&quot;https://www.youtube.com/embed/PF1_m1vOBow?autoplay=1&amp;loop=1&amp;Rel=0&amp;wmode=transparent&quot; frameborder=&quot;0&quot; allow=&quot;autoplay&quot; allowfullscreen wmode=&quot;Opaque&quot;&gt;&lt;/iframe&gt;
&lt;/div&gt;
" class="video-embed-field-lazy"><img src="/assets/images/PF1_m1vOBow.jpg" alt="" typeof="foaf:Image" />
<button class="video-embed-field-lazy-play"></button>
</div>
</div></div></div>

</div>

</div>
</div>

</div>

</div>


</div>
<div class="col-lg-6 col-md-12 col-sm-12">
<div class="region region-video-gallery-right">
<div class="views-element-container block block-views block-views-blockvideo-gallery-block-2" id="block-views-block-video-gallery-block-2">


<div><div class="view view-video-gallery view-id-video_gallery view-display-id-block_2 js-view-dom-id-f7ced0d785bfeff29d1c320723d6ad4f99d3f59f619fd04b77d0496c96e9ed16">



<div class="view-content">
<div class="views-row"><div class="views-field views-field-field-image"><div class="field-content">  <img src="/assets/images/New_2.jpg" width="220" height="124" alt="Causes and symptoms of lung disease" loading="lazy" typeof="foaf:Image" class="image-style-medium" />


</div></div><div class="views-field views-field-field-video-uploaded"><div class="field-content"><div data-video-embed-field-lazy="&lt;div class=&quot;video-embed-field-provider-youtube video-embed-field-responsive-video&quot;&gt;&lt;iframe width=&quot;854&quot; height=&quot;480&quot; frameborder=&quot;0&quot; allowfullscreen=&quot;allowfullscreen&quot; src=&quot;https://www.youtube.com/embed/vsjAUmW6wy4?autoplay=1&amp;loop=1&amp;Rel=0&amp;wmode=transparent&quot; frameborder=&quot;0&quot; allow=&quot;autoplay&quot; allowfullscreen wmode=&quot;Opaque&quot;&gt;&lt;/iframe&gt;
&lt;/div&gt;
" class="video-embed-field-lazy"><img src="/assets/images/vsjAUmW6wy4.jpg" alt="" typeof="foaf:Image" class="image-style-large" />

<button class="video-embed-field-lazy-play"></button>
</div>
</div></div></div>
<div class="views-row"><div class="views-field views-field-field-image">
	<div class="field-content">
		<img src="/assets/images/maxresdefault.jpg" width="220" height="124" alt="Symptoms and tests of covid 19" loading="lazy" typeof="foaf:Image" class="image-style-medium" />


</div></div><div class="views-field views-field-field-video-uploaded"><div class="field-content"><div data-video-embed-field-lazy="&lt;div class=&quot;video-embed-field-provider-youtube video-embed-field-responsive-video&quot;&gt;&lt;iframe width=&quot;854&quot; height=&quot;480&quot; frameborder=&quot;0&quot; allowfullscreen=&quot;allowfullscreen&quot; src=&quot;https://www.youtube.com/embed/nUsoNGMe4vA?autoplay=1&amp;loop=1&amp;Rel=0&amp;wmode=transparent&quot; frameborder=&quot;0&quot; allow=&quot;autoplay&quot; allowfullscreen wmode=&quot;Opaque&quot;&gt;&lt;/iframe&gt;
&lt;/div&gt;
" class="video-embed-field-lazy"><img src="/assets/images/nUsoNGMe4vA.jpg" alt="" typeof="foaf:Image" class="image-style-large" />

<button class="video-embed-field-lazy-play"></button>
</div>
</div></div></div>
<div class="views-row"><div class="views-field views-field-field-image"><div class="field-content">  <img src="/assets/images/maxresdefault.jpg" width="220" height="124" alt="" loading="lazy" typeof="foaf:Image" class="image-style-medium" />


</div></div><div class="views-field views-field-field-video-uploaded"><div class="field-content"><div data-video-embed-field-lazy="&lt;div class=&quot;video-embed-field-provider-youtube video-embed-field-responsive-video&quot;&gt;&lt;iframe width=&quot;854&quot; height=&quot;480&quot; frameborder=&quot;0&quot; allowfullscreen=&quot;allowfullscreen&quot; src=&quot;https://www.youtube.com/embed/qBCPeN-vCoE?autoplay=1&amp;loop=1&amp;Rel=0&amp;wmode=transparent&quot; frameborder=&quot;0&quot; allow=&quot;autoplay&quot; allowfullscreen wmode=&quot;Opaque&quot;&gt;&lt;/iframe&gt;
&lt;/div&gt;
" class="video-embed-field-lazy"><img src="/assets/images/qBCPeN-vCoE.jpg" alt="" typeof="foaf:Image" class="image-style-large" />

<button class="video-embed-field-lazy-play"></button>
</div>
</div></div></div>
<div class="views-row"><div class="views-field views-field-field-image"><div class="field-content">  <img src="/assets/images/maxresdefault.jpg" width="220" height="124" alt="" loading="lazy" typeof="foaf:Image" class="image-style-medium" />


</div></div><div class="views-field views-field-field-video-uploaded"><div class="field-content"><div data-video-embed-field-lazy="&lt;div class=&quot;video-embed-field-provider-youtube video-embed-field-responsive-video&quot;&gt;&lt;iframe width=&quot;854&quot; height=&quot;480&quot; frameborder=&quot;0&quot; allowfullscreen=&quot;allowfullscreen&quot; src=&quot;https://www.youtube.com/embed/-1xYSlj9uTc?autoplay=1&amp;loop=1&amp;Rel=0&amp;wmode=transparent&quot; frameborder=&quot;0&quot; allow=&quot;autoplay&quot; allowfullscreen wmode=&quot;Opaque&quot;&gt;&lt;/iframe&gt;
&lt;/div&gt;
" class="video-embed-field-lazy"><img src="/assets/images/-1xYSlj9uTc.jpg" alt="" typeof="foaf:Image" class="image-style-large" />

<button class="video-embed-field-lazy-play"></button>
</div>
</div></div></div>

</div>

</div>
</div>

</div>

</div>


</div>
</div>
<div class="row m-t-lg">
<div class="col-md-12 text-center">
<a href="covid-19-video" class="btn btn-custom-inner">View all</a>
</div>
</div>
</div>
</section>

{% endblock %}