{% extends 'base.html' %}

{% block content %}

<!-- main header section end -->
<section class="sec1">
	<div class="container">
		<div class="row">
			<div class="breadcam-bg breadcam">
				<div class="container common-container four_content ">
					<div class="region region-highlighted">
						<div data-drupal-messages-fallback="" class="hidden"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include "core/hero.html" %}

{% include "core/health-packages.html" %}

{% include "core/tests-section.html" %}

{% endblock %}