a {
	text-decoration: none;
}

/**
 * NAVBAR
 */
.site-navbar li.cart .ratio,
.site-navbar li.user .ratio {
	width: 40px;
	height: 40px;
	background-color: #e2ebed;
}

.site-navbar .search-by-city {
	width: 145px;
}

.site-navbar .search-by-city input {
	border-right: 0;
	border-radius: 0;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.site-navbar .search-by-keyword input {
	border-radius: 0;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	padding-left: 35px;
}

.site-navbar .search-by-keyword i {
	left: 12px;
	top: 12px;
}

.site-navbar .navbar {
	font-size: 12px;
	font-weight: 600;
}

.site-navbar .navbar .nav-item,
.site-navbar .navbar .dropdown-menu {
	font-size: 12px;
}

.site-navbar .navbar .dropdown-menu {
	min-width: 190px;
}

.site-navbar .navbar .nav-link {
	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis; 
}

/**
 * BREAKPOINTS
 */
@media (max-width: 768px) { 
	/** NAVBAR **/
	.site-navbar .logo {
		text-align: center;
		padding-bottom: 15px;
	}

	.site-navbar .logo img {
		max-width: 250px;
	}

	.site-navbar .search-section {
		margin-bottom: 15px;
	}

	.site-navbar .navbar-toggler {
		left: 0;
		width: 40px;
		height: 40px;
		background-color: #e2ebed;
	}

	.site-navbar .navbar-collapse.show,
	.site-navbar .navbar-collapse.collapsing {
		border-top: 1px solid #e5e5e5;
	}

	.site-navbar .dropdown-toggle::after {
		margin-left: auto;
	}

	.site-navbar .dropdown-menu {
		border: 0;
		padding-top: 0;
	}
}