
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .logo {width: 100%;}
    .right-infos {padding: 5px 0;}
    .right-infos ul {display: block;}
    .right-infos ul li {margin:0 5px; float: left;}
    .md-0{ padding: 0 10px 0 0;}
    .navbar-toggler{position: absolute; right: 0;top: -6px;}
    .location .dropdown-menu.show {top: 0px!important;}
    .search-center{display: block;}
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .main-top-header{padding: 0;}
    .logo {width: 70%;display: inline-block;}
    .search-toggle{display: inline-block;}
    .search-center{ position: absolute;z-index: 9999999999; width: 91%;top: 10px;}
    .right-infos {display: inline-block; margin-top: 15px;}
    .site-header {padding: 20px 0 0 0;}
    .custom-flex{display: flex; flex-wrap: nowrap;}
    .custom-flex .col-xs-9.col-lg-9.col-md-9.col-sm-3{position: relative;}
    .navbar-toggler{position: absolute;top: 0; right: 2px;border: 0;}
    .navbar-collapse{top: 192px!important;width: 80%!important;}
    .location .dropdown-menu.show {top: 5px!important;}
    .navigation{background-color: #004368;padding: 12px 0;}
    
    .dropdown.location a.dropdown-toggle::before{content: "";display: block; background-image: url(../img/arrow-down-white.png);
      width: 10px; height: 10px; background-size: 10px; position: absolute; top: 12px; right: -7px; background-repeat: no-repeat;}
    .location .dropdown-menu a.dropdown-item{color: #004368!important;}
    .navbar-toggler-icon{background-image: url(../img/menu.png)!important;}
    .site-header .text-right{text-align: center!important;}
    .search-center{display: none;}
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .main-top-header{padding: 0;}
    .logo {width: 70%;display: inline-block;}
    .search-toggle{display: inline-block;}
    .search-center{ position: absolute;z-index: 9999999999; width: 91%;top: 10px;}
    .right-infos {display: inline-block; margin-top: 15px;}
    .site-header {padding: 20px 0 0 0;}
    .custom-flex{display: flex; flex-wrap: nowrap;}
    .custom-flex .col-xs-9.col-lg-9.col-md-9.col-sm-3{position: relative;}
    .navbar-toggler{position: absolute;top: 0; right: 2px;border: 0;}
    /*.navbar-collapse{top: 192px!important;width: 80%!important;}*/
    .location .dropdown-menu.show {top: 5px!important;}
    .navigation{background-color: #004368;padding: 12px 0;}
   /* .dropdown a { color: #ffffff!important;  }*/
    .dropdown.location a.dropdown-toggle::before{content: "";display: block; background-image: url(../img/arrow-down-white.png);
      width: 10px; height: 10px; background-size: 10px; position: absolute; top: 12px; right: -7px; background-repeat: no-repeat;}
    .location .dropdown-menu a.dropdown-item{color: #004368!important;}
    .navbar-toggler-icon{background-image: url(../img/menu.png)!important;}
    .site-header .text-right{text-align: center!important;}
    .search-center{display: none;}

    /* hero css */
    .hero .schedule-home-card {width: 100%;margin: 20px 0;}
    #hero-slider .slides > li .flex-caption h3 { font-size: 21px; }
}

  @media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 130px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 40%;
        height: 100%;
        background-color: #f1f1f1;
        z-index: 999;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
}