/*.cart-badge {
  right: 68px !important;
  top: 15px !important;
}*/

.right-infos ul li.cart .cart-badge {
/*  right: 68px !important;
  top: 15px !important;
*/  top: -4px !important;
  right: -4px !important;
}
