<!-- Health Packages section start-->
<section class="home_section">
	<div class="container">
		<h2 class="home_title">Popular Health Packages</h2>
		<div id="list-slider" class="owl-carousel owl-theme list_slider">

			{% for item in products %}
			<div class="item">
				<div class="listing_box">
					<div class="listing_header">
						<div class="best_seller">Best Seller</div>
						<h3><a class="product_detail" href="{{ item.get_absolute_url }}" title="{{ item.title }}">{{ item.title }}</a></h3>
						<p>₹{{ item.discount_price }}<span>₹{{ item.price }}</span></p>

						<div class="testes_tag">Tests</div>
						<form action="{% url 'shop:add_to_cart' item.pk %}" method="POST">
						{% csrf_token %}
							<a href="{% url 'shop:add_to_cart' item.pk %}" class="add_cart">Add to Cart</a>
						</form>
					</div>
					<div class="listing_body custom_scroll">
						<p class="l_title">{{ item.category }}</p>
						<p class="l_text">{{ item.prerequisites }}</p>
						<p class="l_text">{{ item.samplecutoff }}</p>
						<p class="l_text">{{ item.report }}</p>
						<p class="l_title">{{ item.category }}</p>
						<p class="l_text">{{ item.speciment }}</p>
						<p class="l_text">{{ item.method }}</p>
						<p class="l_title">{{ item.category }}</p>
						<p class="l_text">{{ item.quantitytemperature }}</p>
						<p class="l_text">{{ item.quantitytemperature }}</p>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</section><!-- Health Packages section end-->

