{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

<!-- hero section start -->
<div class="banner_area">
	<div class="form_area">
		<div class="form_box">
			<h2>Schedule a Home Collection</h2>
			<p>Choose from a range of comprehensive tests and packages and book home collection from the comfort of your home.</p>
			<form action="" method="POST" class="webform-submission-form" id="webform-submission-form">
			{% csrf_token %}
				<div class="mb-3">
					{% render_field bforms.full_name|add_class:"form-control required" type="text" placeholder="What is your name?*" %}
				</div>
				<div class="mb-3">
					{% render_field bforms.phone_number|add_class:"form-control required" type="text" placeholder="Mobile number*" %}
				</div>
				<div class="mb-3">
					{% render_field bforms.city|add_class:"form-control required" type="text" placeholder="Address*" %}
				</div>
				<button class="btn_submit">Submit</button>
			</form>
		</div>
	</div>

	<div class="slider_area">
		<div id="home-slider" class="owl-carousel owl-theme">
			<div class="item">
				<img src="assets/images/images/slide1.png" alt="">
			</div>
			<div class="item">
				<img src="assets/images/images/slide2.png" alt="">
			</div>
			<div class="item">
				<img src="assets/images/images/slide3.png" alt="">
			</div>
		</div>
	</div>
</div>
<!-- hero section end -->
