<!-- tests section start -->
<section class="home_section section_pb">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-6">
				<h2 class="home_title">Test by Body Parts</h2>
				<div class="body_part">
					<a href="#" class="part_list">
						<img src="assets/images/icons/heart.png" alt="">
						<p>Heart</p>
					</a>
					<a href="#" class="part_list">
						<img src="assets/images/icons/liver.png" alt="">
						<p>Liver</p>
					</a>

					<a href="#" class="part_list">
						<img src="assets/images/icons/kidney.png" alt="">
						<p>Kidney</p>
					</a><a href="#" class="part_list">
						<img src="assets/images/icons/bone.png" alt="">
						<p>Bone</p>
					</a>
					<a href="#" class="part_list">
						<img src="assets/images/icons/thyroid.png" alt="">
						<p>Thyroid</p>
					</a>
				</div>
				<h2 class="home_title mt-4">Test by Condition</h2>
				<div class="body_part">
					<a href="#" class="part_list">
						<img src="assets/images/icons/diabetes.png" alt="">
						<p>Diabetes</p>
					</a>

					<a href="#" class="part_list">
						<img src="assets/images/icons/kidney.png" alt="">
						<p>Kidney</p>
					</a>
					<a href="#" class="part_list">
						<img src="assets/images/icons/thyroid.png" alt="">
						<p>Thyroid</p>
					</a>
				</div>
			</div>
			<div class="col-md-12 col-lg-6">
				<h2 class="home_title mobile_margin2">Most Popular Tests</h2>

				{% for item in products %}
				<div class="pop_tests">
					<img src="/assets/images/scope.png" alt="">
					<div class="flex-fill">
						<p class="m-0">
							<a class="product_detail" href="{{ item.get_absolute_url }}" title="{{ item.title }}">{{ item.title }}</a>
						</p>
					</div>
					<a href="{% url 'shop:add_to_cart' item.pk %}" class="buy_now_list">Buy Now</a>
				</div>
				{% endfor %}

			</div>
		</div>
	</div>
</section>
<!-- tests section end -->
