<!-- tests section start -->
<section class="tests-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12 aos-init aos-animate" data-aos="fade-right" data-aos-duration="1000">
				<h2 class="heading-2">Test by Body Parts</h2>
				<div class="row">
					<div class="region region-test-by-body-parts">
						<div class="views-element-container block block-views block-views-blocktest-by-body-parts-block-1" id="block-views-block-test-by-body-parts-block-1">
							<div>
								<div class="view view-test-by-body-parts view-id-test_by_body_parts view-display-id-block_1 js-view-dom-id-fe9b18894d2450e6fd8e02bd9c34d2accbeb7f4504d1773d59f60700738c9eba">
									<div class="view-content">
										<div class="views-row">
											<a target="_blank" href="/book-blood-test-online-in-india?organs=7 ">
												<span class="img-bparts">
													<img src="/assets/images/heart.png" width="40" height="40" alt="Heart" loading="lazy" typeof="Image" class="image-style-thumbnail" />
												</span>
												<span class="title-bparts">Heart</span>
											</a>
										</div>
										<div class="views-row">
											<a target="_blank" href="/book-blood-test-online-in-india?organs=3 ">
												<span class="img-bparts">
													<img src="/assets/images/liver.png" width="40" height="40" alt="Liver" loading="lazy" typeof="Image" class="image-style-thumbnail" />
												</span>
												<span class="title-bparts">Liver</span>
											</a>
										</div>
										<div class="views-row">
											<a target="_blank" href="/book-blood-test-online-in-india?organs=5 ">
												<span class="img-bparts">
													<img src="/assets/images/kidney.png" width="40" height="40" alt="Kidney" loading="lazy" typeof="Image" class="image-style-thumbnail" />
												</span>
												<span class="title-bparts">Kidney</span>
											</a>
										</div>
										<div class="views-row">
											<a target="_blank" href="/book-blood-test-online-in-india?organs=1 ">
												<span class="img-bparts">
													<img src="/assets/images/bone.png" width="40" height="40" alt="Bone" loading="lazy" typeof="Image" class="image-style-thumbnail" />
												</span>
												<span class="title-bparts">Bone</span>
											</a>
										</div>
										<div class="views-row">
											<a target="_blank" href="/book-blood-test-online-in-india?organs=6 ">
												<span class="img-bparts">
													<img src="/assets/images/thyroid.png" width="40" height="40" alt="Thyroid" loading="lazy" typeof="Image" class="image-style-thumbnail" />
												</span>
												<span class="title-bparts">Thyroid</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<h2 class="heading-2">Test by Condition</h2>
				<!--<div class="row">-->
				<div class="region region-test-by-condition">
					<div class="views-element-container block block-views block-views-blocktest-by-condition-block-1" id="block-views-block-test-by-condition-block-1">
						<div>
							<div class="view view-test-by-condition view-id-test_by_condition view-display-id-block_1 js-view-dom-id-a2687d4c5f65f28db04ff8c68e50777a30540c899560019323960d7c8ea87af9">
								<div class="view-content">										
									<div class="views-row">
										<a target="_blank" href="/book-blood-test-online-in-india?health_conditions=3 ">
											<span class="img-borgn">
												<img src="/assets/images/diabetes.png" width="40" height="40" alt="BONE &amp; JOINT DISORDERS" loading="lazy" typeof="Image" class="image-style-thumbnail" />
											</span>
											<span class="img-borgntitle">Diabetes</span>
										</a>
									</div>
									<div class="views-row">
										<a target="_blank" href="/book-blood-test-online-in-india?organs=6 ">
											<span class="img-borgn">
												<img src="/assets/images/thyroid_1.png" width="40" height="40" alt="Thyroid" loading="lazy" typeof="Image" class="image-style-thumbnail" />
											</span>
											<span class="img-borgntitle">Thyroid</span>
										</a>
									</div>
									<div class="views-row">
										<a target="_blank" href="/book-blood-test-online-in-india?organs=5 ">
											<span class="img-borgn">
												<img src="/assets/images/kidney_0.png" width="40" height="40" alt="Kidney" loading="lazy" typeof="Image" class="image-style-thumbnail" />
											</span>
											<span class="img-borgntitle">Kidney</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!--</div>-->
			</div>

			<div class="col-md-12 col-lg-5 col-sm-12 offset-md-1 offset-lg-1" data-aos="fade-left" data-aos-duration="1000">
				<div class="popular-tests-box m-t-75">
					<h3 class="heading-small">Most Popular Tests</h3>
					<div class="region region-most-popular-test">
						<div id="block-mostpopulartestsblock" class="block block-unee-packages-tests block-popular-tests-block">
							{% for item in products %}
							<div class="popular-tests">
								<div class="icon">
									<img src="/assets/images/scope.png" class="img-fluid" alt="popular test">
								</div>
								<h6>{{ item.title }}</h6>
								<a href="{% url 'shop:add_to_cart' item.pk %}" class="btn"> Buy Now</a>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

		</div>		
	</div>
</section>
<!-- tests section end -->
