{% extends 'base_shop.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block head_title %}
{{ page_title }}
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block extra_style %}
<link href="{% static 'css/style_shoplist.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/easy-autocomplete.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/autocomplete.css' %}" rel="stylesheet" type="text/css">
<style>
    input#search-bar-header:focus::-webkit-input-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }

      input#search-bar-header:focus::-moz-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }

      input#search-bar-header:focus:-ms-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }

      div,
      .profile-item {
        word-wrap: break-word;
      }
  }
</style>
{% endblock %}

{% block content %}

<!-- Test list page start -->
<div class="test-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="breadcrumb-inner">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li class="current">Test & Packages</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="filter-bar-top">
                    <form action="/book-blood-test-online-in-india/" method="GET" id="test_location_search_header_form">
                        <input type="text" class="city-search box" placeholder="Search City" value="" name="q" readonly />
                        <input type="hidden" name="test_location_id" id="city-holder" value="100" />
                    </form>
                    <style>
                    .test-search-bar .easy-autocomplete
                    {
                        width: 100%!important;
                    }
                    </style>
                    <div class="test-search-bar">
                        <form action="/book-blood-test-online-in-india/autocomplete/" method="GET" class="autocomplete-me" id="test_search_header_form">
                            <input type="text" id="search-bar-2" class="test_search_input_field search__test_package box" placeholder="Search for a test or health package " name="q" />
                            {# <input type="hidden" name="test_package_name" id="test-package-search-holder" /> #}
                            <!--<input type="hidden" name="search_data_type" id="search_data_type" />-->
                            {# <input type="hidden" name="test_location_id" id="test_location_id_1" value="100"/> #}
                        </form>
                    </div>
                    <div class="search-error form-error"></div>
                </div>
            </div>
        </div>
        <div class="row m-t-10">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="book-test-filter">
                    <h3 class="filter-head">Filters</h3>
                    <div class="divider"></div>
                    <div class="accordion filter-collapse" id="filtercollapse">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Sort list by</button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#filtercollapse">
                            <div class="card-body">
                                <div class="form-group checkbox-group">
                                    <div class="inner-group">
                                        <label class="container-check">Test
                                            <input type="checkbox" name="sort_by" value="test">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="inner-group">
                                        <label class="container-check">Packages
                                            <input type="checkbox" name="sort_by" value="packages">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="accordion filter-collapse" id="filtercollapse2">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapseOne">Organ</button>
                            </h2>
                        </div>
                        <div id="collapsetwo" class="collapse show" aria-labelledby="headingOne" data-parent="#filtercollapse2">
                            <div class="card-body">
                                <div class="form-group checkbox-group">
                                    <div class="inner-group">
                                        <label class="container-check">Adrenal gland
                                            <input type="checkbox"  name="organs" value="adrenal-gland">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="inner-group">
                                        <label class="container-check">Bone
                                            <input type="checkbox"  name="organs" value="bone">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="inner-group">
                                        <label class="container-check">Heart
                                            <input type="checkbox"  name="organs" value="heart">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="inner-group">
                                        <label class="container-check">Kidney
                                            <input type="checkbox"  name="organs" value="kidney">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="inner-group">
                                        <label class="container-check">Liver
                                            <input type="checkbox"  name="organs" value="liver">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="inner-group">
                                        <label class="container-check">Pancreas
                                            <input type="checkbox"  name="organs" value="pancreas">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="inner-group">
                                        <label class="container-check">Thyroid
                                            <input type="checkbox"  name="organs" value="thyroid">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="accordion filter-collapse" id="filtercollapse3">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapsethree" aria-expanded="true" aria-controls="collapseOne">
                                    Condition
                                </button>
                            </h2>
                        </div>
                        <div id="collapsethree" class="collapse show" aria-labelledby="headingOne" data-parent="#filtercollapse3">
                            <div class="card-body">
                                <div class="form-group checkbox-group">
                                    <div class="inner-group health_conditions" style=display:block>
                                        <label class="container-check">Diabetes
                                            <input type="checkbox" name="health_conditions" value="diabetes">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="inner-group health_conditions" style=display:block>
                                        <label class="container-check">Industrial diseases
                                            <input type="checkbox" name="health_conditions" value="industrial-diseases">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="inner-group health_conditions" style=display:block>
                                        <label class="container-check">Myasthenia gravis
                                            <input type="checkbox" name="health_conditions" value="myasthenia-gravis">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="inner-group health_conditions" style=display:block>
                                        <label class="container-check">Nutritional disorders
                                            <input type="checkbox" name="health_conditions" value="nutritional-disorders">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <!-- <small class="see-more"><a onclick="see_more();">+ See more</a></small> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="row package-filter-sort">
                    <div class="col-lg-12">
                        <div class="flex-inline w-100">
                            <h3>Test & Packages</h3>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle sort" type="button" id="sortButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    SORT BY
                                </button>
                                <div class="dropdown-menu" aria-labelledby="sortButton">
                                    <a class="dropdown-item" onclick = sort_by('name');>A-Z</a>
                                    <a class="dropdown-item" onclick = sort_by('desc-name');>Z-A</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row package-lists">
                    {% for item in sqs %}
                                        <div class="col-md-6 col-sm-12 test_and_packages">
                        <div class="package" id="210056">
                            <div class="custom-head123">
                                <div class="flex-inline head">
                                    <div class="name">
                                        <div class="img">
                                            <img src="/assets/images/scope-bg.svg" class="img-fluid">
                                        </div>
                                        <a class="tool_tip" data-toggle="tooltip" data-placement="bottom" title="{{ item.title }}" href="{{ item.get_absolute_url }}">
                                            <h4 id="test-name">{{ item.title }}</h4>
                                        </a>
                                    </div>
                                </div>
                                <p class="tat">
                                    <span>TAT</span>
                                    <a class = "tool_tip" data-toggle="tooltip" data-placement="bottom"  title="Sample Cut Off : {{ item.samplecutoff }}, Report : {{ item.report }}">
                                        <strong>Sample Cut off : {{ item.samplecutoff }}, Report : {{ item.report }}</strong>
                                    </a>
                                </p>
                                <p class="specimen" style="font-size: 12px; color: #48585f;margin:0px 0 8px 10px">Specimen:
                                    <a class = "tool_tip" data-toggle="tooltip" data-placement="bottom" title="{{ item.speciment }}">
                                        <strong>{{ item.speciment }}</strong>
                                    </a>
                                </p>
                                <!-- <p class="specimen">&nbsp&nbsp</p> -->
                                <p class="price">&#8377; {{ item.price }}</p>
                            </div>
                            <div class="footer-card">
                                <div class="flex-inline p-custom">
                                    <div class="action">
                                        <form action="{% url 'shop:add_to_cart' item.pk %}" class="form-inline add-to-cart-form  " method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="csrf_test_name" value="8c2252c1bf018f773b86c877f8b10b41" />
                                            <input type="hidden" name="item_id" value="10056" />
                                            <input type="hidden" name="item_type" value="2" />
                                            <input type="hidden" name="location" value="" />
                                            <input type="hidden" name="sort_by" value="" />
                                            <input type="hidden" name="organs" value="" />
                                            <input type="hidden" name="health_cond" value="" />
                                            <input type="hidden" name="order_by" value="" />
                                            <input type="hidden" name="is_buy_now" value="1" />
                                            <button type="submit"  class="btn-3">Buy Now</button>
                                        </form>
                                        <!-- data-target="#added-to-cart"-->
                                        <form action="{% url 'shop:add_to_cart' item.pk %}" class="form-inline add-to-cart-form" method="post">
                                        {% csrf_token %}
                                            <button type="submit" class="btn-4 add-to-cart-btn  ">
                                                <img src="/assets/images/bag.svg">Add to Cart
                                            </button>
                                        </form>
                                    </div>
                                    <a class="report" href="#" download>
                                        <img src="/assets/images/download-blue.svg" class="img-fluid"> Sample Report
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% for item in object_list %}
                    <div class="col-md-6 col-sm-12 test_and_packages">
                        <div class="package" id="210056">
                            <div class="custom-head123">
                                <div class="flex-inline head">
                                    <div class="name">
                                        <div class="img">
                                            <img src="/assets/images/scope-bg.svg" class="img-fluid">
                                        </div>
                                        <a class="tool_tip" data-toggle="tooltip" data-placement="bottom" title="{{ item.title }}" href="{{ item.get_absolute_url }}">
                                            <h4 id="test-name">{{ item.title }}</h4>
                                        </a>
                                    </div>
                                </div>
                                <p class="tat">
                                    <span>TAT</span>
                                    <a class = "tool_tip" data-toggle="tooltip" data-placement="bottom"  title="Sample Cut Off : {{ item.samplecutoff }}, Report : {{ item.report }}">
                                        <strong>Sample Cut off : {{ item.samplecutoff }}, Report : {{ item.report }}</strong>
                                    </a>
                                </p>
                                <p class="specimen" style="font-size: 12px; color: #48585f;margin:0px 0 8px 10px">Specimen: 
                                    <a class = "tool_tip" data-toggle="tooltip" data-placement="bottom" title="{{ item.speciment }}">
                                        <strong>{{ item.speciment }}</strong>
                                    </a>
                                </p>
                                <!-- <p class="specimen">&nbsp&nbsp</p> -->
                                <p class="price">&#8377; {{ item.price }}</p>
                            </div>
                            <div class="footer-card">
                                <div class="flex-inline p-custom">
                                    <div class="action">
                                        <form action="{% url 'shop:add_to_cart' item.pk %}" class="form-inline add-to-cart-form  " method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="csrf_test_name" value="8c2252c1bf018f773b86c877f8b10b41" />
                                            <input type="hidden" name="item_id" value="10056" />
                                            <input type="hidden" name="item_type" value="2" />
                                            <input type="hidden" name="location" value="" />
                                            <input type="hidden" name="sort_by" value="" />
                                            <input type="hidden" name="organs" value="" />
                                            <input type="hidden" name="health_cond" value="" />
                                            <input type="hidden" name="order_by" value="" />
                                            <input type="hidden" name="is_buy_now" value="1" />
                                            <button type="submit"  class="btn-3">Buy Now</button>
                                        </form>
                                        <!-- data-target="#added-to-cart"-->
                                        <form action="{% url 'shop:add_to_cart' item.pk %}" class="form-inline add-to-cart-form" method="post">
                                        {% csrf_token %}
                                            <button type="submit" class="btn-4 add-to-cart-btn  ">
                                                <img src="/assets/images/bag.svg">Add to Cart
                                            </button>
                                        </form>
                                    </div>
                                    <a class="report" href="#" download>
                                        <img src="/assets/images/download-blue.svg" class="img-fluid"> Sample Report
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Notification Toaster start here -->
<div class="modal fade" id="added-to-cart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog added-cart">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <img src="/assets/images/check-circle-black-24-dp-2.svg"> Added to Cart</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <div class="action">
                        <a href="/shopping-cart/" class="btn-4">
                            <img src="/assets/images/bag.svg">Go To Cart
                        </a>
                        <a href="{{ products.get_absolute_url }}" class="btn-3">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="easy-autocomplete-container" id="eac-container-search-bar-2-header">
    <ul style="display: none;">
        <li class="">
            <div class="eac-item">Adrenocorticotropic Hormone (ACTH), <b>IHC</b> -(HP01)</div>
        </li>
        <li class="">
            <div class="eac-item">ALK-1, <b>IHC</b> -(HP02)</div>
        </li>
        <li class="">
            <div class="eac-item">Alpha-1-Antitrypsin, <b>IHC</b> -(HP03)</div>
        </li>
        <li class="">
            <div class="eac-item">Anti Human Gross Cystic Disease Fluid Protein-15 (GCDFP-15), <b>IHC</b> -(HP46)</div>
        </li>
    </ul>
</div>

{% endblock %}

<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/select2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/site.js' %}" type="text/javascript"></script>
<script src="{% static 'js/toastr.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.flexslider.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.easy-autocomplete.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/sweetalert2.min.js' %}" type="text/javascript"></script>


{% block extra_jscript %}
<link href="{% static 'js/jquery-1.11.1.js' %}" rel="stylesheet" type="text/css">
<link href="{% static 'js/jquery.dimensions.js' %}" rel="stylesheet" type="text/css">
<link href="{% static 'js/autocomplete.js' %}" rel="stylesheet" type="text/css">
<script type="text/javascript">
$(document).ready(function()
{
    $('input:checkbox[name="sort_by"]').click(function()
    {
        if($(this).is(':checked') && $(this).val() == 'test')
        {
            console.log("test");
            // e.preventDefault();
        }
        if($(this).is(':checked') && $(this).val() == 'packages')
        {
            console.log("packages");
        }
    })
    // var data_from_url = "{{ user_order }}";

    // // var input = document.getElementById('#search-bar-2');
    // // var input = document.querySelector('#search-bar-2').value;
    // var input = document.querySelector('[name="q"]').value;

    // console.log("input", input);

    // var options = {
    //     url: "autocomplete/?q=produk1",
    //     getValue: "sqs",
    //     list: {
    //         match: {
    //             enabled: true
    //         }
    //     },
    //     theme: "square"
    // };

    // $("#search-bar-2").easyAutocomplete(options);

    // var Autocomplete = function(options)
    // {
    //     this.form_selector = options.form_selector
    //     this.url = options.url || '/book-blood-test-online-in-india/autocomplete/'
    //     this.delay = parseInt(options.delay || 300)
    //     this.minimum_length = parseInt(options.minimum_length || 3)
    //     this.form_elem = null
    //     this.query_box = null
    // }

    // Autocomplete.prototype.setup = function()
    // {
    //     var self = this
    //     this.form_elem = $(this.form_selector)
    //     this.query_box = this.form_elem.find('input[name=q]')

    //     // Watch the input box.
    //     this.query_box.on('keyup', function()
    //     {
    //         var query = self.query_box.val()
    //         if(query.length < self.minimum_length)
    //         {
    //             return false
    //         }
    //         self.fetch(query)
    //     })

    //     // On selecting a result, populate the search field.
    //     this.form_elem.on('click', '.ac-result', function(ev)
    //     {
    //         self.query_box.val($(this).text())
    //         $('.ac-results').remove()
    //         return false
    //     })
    // }

    // Autocomplete.prototype.fetch = function(query)
    // {
    //     var self = this
    //     $.ajax(
    //     {
    //         url: this.url,
    //         data: {
    //             'q': query
    //         },
    //         success: function(data)
    //         {
    //             self.show_results(data)
    //         }
    //     })
    // }

    // Autocomplete.prototype.show_results = function(data)
    // {
    //     // Remove any existing results.
    //     $('.ac-results').remove()
    //     var results = data.results || []
    //     var results_wrapper = $('<div class="ac-results"></div>')
    //     var base_elem = $('<div class="result-wrapper"><a href="#" class="ac-result"></a></div>')
    //     if(results.length > 0)
    //     {
    //         for(var res_offset in results)
    //         {
    //             var elem = base_elem.clone()
    //             // Don't use .html(...) here, as you open yourself to XSS.
    //             // Really, you should use some form of templating.
    //             elem.find('.ac-result').text(results[res_offset])
    //             results_wrapper.append(elem)
    //         }
    //     }
    //     else
    //     {
    //         var elem = base_elem.clone()
    //         elem.text("No results found.")
    //         results_wrapper.append(elem)
    //     }

    //     this.query_box.after(results_wrapper)
    // }

    // $(document).ready(function()
    // {
    //     window.autocomplete = new Autocomplete(
    //     {
    //         form_selector: '.autocomplete-me'
    //     }
    // )
    //     window.autocomplete.setup()
    // })
});
</script>
{% endblock %}
