{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}
{{ page_title }}
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block extra_style %}
{% endblock %}


{% block content %}
<!-- Inner checkout items start -->
	<section class="search_section">
		<div class="container">
			<div class="row">

				<div class="col-md-8">

					<div class="flex_and_justify">
						<div>
							<h2 class="home_title">Order Overview</h2>
						</div>
						<div>
							<a href="/book-blood-test-online-in-india/" class="btn_cart"><i class="fa-solid fa-plus"></i> Add Tests</a>
						</div>
					</div>

					{% for item in cart_order.items.all %}
					<div class="cart_box">
						<div class="cart_left">
							<h4>{{ item.product.title }}</h4>
							<a href="{% url 'shop:remove_from_cart' item.product.pk %}">Remove</a>
						</div>
						<div class="cart_right">
							<h4>₹ {{ item.product.price }}</h4>
							<div class="input-group number-spinner">
								<div class="input-group-prepend">
									<button class="bbtn bl" data-dir="dwn" type="button">
										<a href="{% url 'shop:remove_from_cart' item.product.pk %}"><i class="fas fa-minus"></i></a>
									</button>
								</div>
								<input type="text" class=" text-center" value="{{ item.quantity }}">
								<div class="input-group-append">
									<button class="bbtn br" data-dir="up" type="button">
										<a href="{% url 'shop:add_to_cart' item.product.pk %}"><i class="fas fa-plus"></i></a>
									</button>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}

				</div>

				<div class="col-md-4">
					<h2 class="home_title">Summary</h2>
					{% if cart_order.get_total_price %}
					<div class="sub_total_box">
						<div class="total_box">
							<p>Subtotal</p>
							<p>₹ {{ cart_order.get_total_price }}</p>
						</div>
						<div class="total_box">
							<p><b>Total</b></p>
							<p><b>₹ {{ cart_order.get_total_price }}</b></p>
						</div>
						<a href="{% url 'order:checkout' %}"><button class="btn_submit mt-4">Proceed to Checkout</button></a>
					</div>
					{% endif %}
				</div>

			</div>
		</div>
	</section>

	<section class="cart_section2">
		<div class="container">
			<h2 class="home_title">People also booked these tests</h2>
			<div id="list-slider" class="owl-carousel owl-theme list_slider">

				{% for item in products %}
				<div class="item">
					<div class="listing_box">
						<div class="listing_header">
							<div class="best_seller">Best Seller</div>
							<h3><a class="product_detail" href="{{ item.get_absolute_url }}" title="{{ item.title }}">{{ item.title }}</a></h3>
							<p>₹{{ item.discount_price }} <span>₹{{ item.price }}</span></p>

							<div class="testes_tag">Tests</div>
							<form action="{% url 'order:checkout' %}" method="POST">
							{% csrf_token %}
								<a href="{% url 'shop:add_to_cart' item.pk %}" class="add_cart">Add to Cart</a>
							</form>
						</div>
						<div class="listing_body custom_scroll">
							<p class="l_title">{{ item.category }}</p>
							<p class="l_text">{{ item.prerequisites }}</p>
							<p class="l_text">{{ item.samplecutoff }}</p>
							<p class="l_text">{{ item.report }}</p>
							<p class="l_title">{{ item.category }}</p>
							<p class="l_text">{{ item.speciment }}</p>
							<p class="l_text">{{ item.method }}</p>
							<p class="l_title">{{ item.category }}</p>
							<p class="l_text">{{ item.quantitytemperature }}</p>
							<p class="l_text">{{ item.quantitytemperature }}</p>
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</section>

{% endblock %}

{% block extra_jscript %}
<script type='text/javascript'>
$(document).ready(function()
{
	$(document).on('click', '.number-spinner button', function()
	{
		var btn = $(this),
		oldValue = btn.closest('.number-spinner').find('input').val().trim(),
		newVal = 0;

		if (btn.attr('data-dir') == 'up')
		{
			newVal = parseInt(oldValue) + 1;
		}
		else
		{
			if (oldValue > 1)
			{
				newVal = parseInt(oldValue) - 1;
			}
			else
			{
				newVal = 1;
			}
		}
		btn.closest('.number-spinner').find('input').val(newVal);
	});

	var total_price = "{{ cart_order.get_total_price }}";
	// var total_price = document.querySelector('.total-charges').innerHTML;
	// var total_price = parseFloat(total_price.replace(/₹/g, ""));
	total_price = Number(total_price.replace(/[^0-9\.-]+/g,""));
	console.log("total_price", total_price);

	$.ajax(
	{
		url:'{% url "shopping_cart" %}',
		data:
		{
			'total_price': total_price,
		},

		success: function(data)
		{
			// console.log("total_price: ", total_price);
			// console.log("total_price: ", total_price);
		},
	});

});
</script>
{% endblock %}
