{% extends 'base_shop.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}
{{ page_title }}
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block extra_style %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/style_search.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/style_shopcart.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/shop.css' %}" rel="stylesheet" type="text/css">

<style>
    input#search-bar-header:focus::-webkit-input-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }
    
      input#search-bar-header:focus::-moz-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }
    
      input#search-bar-header:focus:-ms-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }
    
      div,
      .profile-item {
        word-wrap: break-word;
      }
  }
</style>
{% endblock %}


{% block content %}
<!-- Inner checkout items start -->
<div class="inner-checkout">
    <div class="container">
      <div class="row">
        {% if display_result %}
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="flex-inline">
                <div class="heading-small-v-2">Order Overview</div>
                <a href="/book-blood-test-online-in-india/" class="btn-1 btn">+ Add Tests</a>
            </div>
            <div class="test-cards">
                <div class="d-block text-left">
                    <h6 class="test-name d-block pt-2">Your cart is empty.</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 summary">
            <div class="checkout-summary">
            </div>
        </div>
        {% else %}
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="flex-inline">
                <div class="heading-small-v-2">Order Overview</div>
                <a href="/book-blood-test-online-in-india/" class="btn-1 btn">+ Add Tests</a>
            </div>
            
            {% for item in cart_order.items.all %}
            <div class="test-cards" id="{{ item.product.pk}}" data-price="{{ item.product.price}}" data-qty="{{ item.product.quantity }}">
                <div class="flex-inline">
                    <h6 class="test-name">{{ item.product.title }}</h6>
                    {% comment %} {% if item.product.discount_price %}
                    <<p class="price">>${{ item.product.price}}</p>
                    <p class="price">${{ item.product.discount_price }}</p>
                    {% else %} {% endcomment %}
                    <p class="price">&#8377; {{ item.product.price}}</p>
                    {% comment %} {% endif %} {% endcomment %}
                </div>
                <div class="flex-inline">
                    <a href="{% url 'shop:remove_from_cart' item.product.pk %}" class="remove-btn" item-id="{{ item.product.pk }}" item-type="1">Remove</a>
                    <div class="count-control">
                        <a href="{% url 'shop:reduce_quantity_item' item.product.pk %}">
                            <button class="sub-count" item-id="{{ item.product.pk }}" item-type="1"><i class="fa fa-minus"></i></button>
                        </a>
                        <span class="quantity" id="span_438">{{ item.quantity }}</span>
                        <a href="{% url 'shop:add_to_cart' item.product.pk %}">
                            <button class="add-count" item-id="{{ item.product.pk }}" item-type="1"><i class="fa fa-plus"></i></button>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 summary">
            <div class="checkout-summary">
                <div class="heading-small-v-2">Summary</div>
                {% if cart_order.get_total_price %}
                <div class="flex-inline m-t-40">                    
                    <p>Subtotal</p>
                    <p class="subtotal">&#8377; {{ cart_order.get_total_price }}</p>
                </div>
                <!-- <div class="flex-inline">
                    <p>Home Collection charge</p>
                    <p class="home-collection-charges">&#8377; 431</p>
                </div> -->
                <div class="flex-inline border strong-summary-text">
                    <p>Total</p>
                    <p class="total-charges">&#8377; {{ cart_order.get_total_price }}</p>
                </div>
                <a href="{% url 'order:checkout' %}" class="btn-2 text-xs-center">Proceed to Checkout</a>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>

    <!-- checkout flow similar tests -->
    <div class="similar-tests">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-small-v-2">People also booked these tests</div>
                    <div class="flexslider" id="similar-tests">
                        <div class="flex-viewport" style="overflow: hidden; position: relative;">
                            <ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                                {% for item in products %}
                                <li class="similar-test-card" style="width: 400px; margin-right: 20px; float: left; display: block;">
                                    <div class="flex-inline head">
                                        <div class="name">
                                            <img src="/assets/images/scope-bg.svg" class="img-fluid" draggable="false">
                                            <a class="tool_tip" data-toggle="tooltip" data-placement="bottom" title="" href="{{ item.get_absolute_url }}" data-original-title="{{ item.title }}">
                                                <h4 id="test-name">{{ item.title }}</h4>
                                            </a>
                                        </div>
                                        <!--
                                            <div class="test-info">
                                                <a href="#" data-toggle="tooltip" data-placement="bottom" data-custom-class="tooltip-custom" title="" data-original-title="Sample Cut off : 6:00 PM (Daily), Report : 2HRS Same Day">
                                                    <span>TAT</span>
                                                </a>
                                            </div>
                                        -->
                                    </div>
                                    <p class="tat">
                                        <span>TAT</span>
                                        <a class="tool_tip" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Sample Cut Off : 6:00 PM (Daily), Report : 2HRS Same Day">
                                            <strong>Sample Cut off : {{ item.samplecutoff }}, Report : {{ item.report }}</strong>
                                        </a>
                                    </p>
                                    <p class="specimen" style="font-size: 12px; color: #48585f;margin:0px 0 8px 10px">Specimen: 
                                        <a>
                                            <strong>{{ item.speciment }}</strong>
                                        </a>
                                    </p>
                                    <!-- 
                                        <p class="specimen">Specimen: 
                                            <strong>WB EDTA</strong>
                                        </p>
                                    -->
                                    <p class="price">&#8377; {{ item.price }} </p>
                                    <div class="footer-card">
                                        <div class="flex-inline p-custom">
                                            <div class="action">
                                                <form action="{% url 'order:checkout' %}" class="form-inline add-to-cart-form" method="post" autocomplete="off">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn-3">Buy Now</button>
                                                </form>
                                                <!-- data-target="#added-to-cart"-->
                                                <form action="{% url 'shop:add_to_cart' item.pk %}" class="form-inline add-to-cart-form" method="post" autocomplete="off">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn-4 add-to-cart-btn">
                                                        <img src="/assets/images/bag.svg" draggable="false">Add to Cart
                                                    </button>
                                                </form>
                                            </div>
                                            <a href="#">
                                                <img src="/assets/images/download-blue.svg" class="img-fluid"> Sample Report
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <ul class="flex-direction-nav">
                            <li class="flex-nav-prev">
                                <a class="flex-prev" href="#">Previous</a>
                            </li>
                            <li class="flex-nav-next">
                                <a class="flex-next" href="#">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


<script src="{% static 'js/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/select2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/site.js' %}" type="text/javascript"></script>
<script src="{% static 'js/toastr.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.flexslider.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.easy-autocomplete.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/sweetalert2.min.js' %}" type="text/javascript"></script>

{% block extra_jscript %}
<script type='text/javascript'>
$(document).ready(function()
{
    var total_price = "{{ cart_order.get_total_price }}";
    // var total_price = document.querySelector('.total-charges').innerHTML;
    // var total_price = parseFloat(total_price.replace(/₹/g, ""));
    total_price = Number(total_price.replace(/[^0-9\.-]+/g,""));
    console.log("total_price", total_price);

    $.ajax(
    {
        url:'{% url "shopping_cart" %}',
        data:
        {
            'total_price': total_price,
        },

        success: function(data)
        {
            // console.log("total_price: ", total_price);
            // console.log("total_price: ", total_price);
        },
    });


});
</script>
{% endblock %}
