{% load static %}
{% load i18n %}

{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


<!-- main header section start -->
<nav class="custom_nav">
	<div class="nav_brand">
		<a href="/">
			<img src="{% static 'images/logo/logo.png' %}" alt="">
		</a>
	</div>

	<div class="nav_right flex-grow-1">
		<div class="nav_top">
			<div class="nav_search">
				<form action="/book-blood-test-online-in-india/autocomplete/" method="GET" class="webform-submission-form" id="webform-submission-header-search-form-add-form">
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1"><i class="icofont-search-2"></i></span>
						<input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
					</div>
				</form>
			</div>
		</div>

		<div class="nav_bottom">
			<div class="nav_b_l">
				<ul class="nav custom_nav_menu">
					<li class="nav-item">
						<a class="nav-link" href="/">HOME</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/book-blood-test-online-in-india/">BOOK A TEST</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" href="#">LAB LOCATOR</a>
					</li> -->
				</ul>
			</div>
		</div>
	</div>

	<div class="nav_contact">
		<ul class="nav custom_nav_menu">
			<li class="nav-item mobile_hide">
				<a class="nav-link call_us" href="tel:8987768777"><i class="fa-solid fa-phone"></i> Call Us 89877 68777</a>
			</li>
			<li class="nav-item">
				<a class="nav-link circle_menu" href="/shopping-cart/">
					<i class="fa-solid fa-cart-shopping"></i><span>02</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link circle_menu" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightProfile" aria-controls="offcanvasRight" href="#"><i class="fa-solid fa-user"></i></a>
			</li>
		</ul>
	</div>
	<div class="nav_menu flex-grow-1 text-end">
		<img data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" src="{% static 'images/icons/menu.svg' %}" alt="">
	</div>
</nav>

<!-- Profile side bar  -->
<div class="offcanvas offcanvas-end bsr_SideBar" tabindex="-1" id="offcanvasRightProfile" aria-labelledby="offcanvasRightLabel">
	<div class="offcanvas-header">
		<img class="side_bar_logo" src="{% static 'images/logo/logo.png' %}" alt="">
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<ul class="nav flex-column side_bar">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'my_orders' %}">ORDER</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'accounts:profile_detail' request.user.pk %}">PROFILE</a>
			</li>
			<li class="nav-item">
				{% if user.is_authenticated %}
				<a class="nav-link" href="{% url 'account_logout' %}">LOGOUT</a>
				{% else %}
       			<a class="nav-link" href="{% url 'account_login' %}">LOGIN</a>
       			{% endif %}
			</li>
		</ul>
	</div>
</div>

<!-- Mobile side bar  -->
<div class="offcanvas offcanvas-end bsr_SideBar" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
	<div class="offcanvas-header">
		<img class="side_bar_logo" src="{% static 'images/logo/logo.png' %}" alt="">
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<ul class="nav flex-column side_bar">
			<li class="nav-item">
				<a class="nav-link" href="/">HOME</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/book-blood-test-online-in-india/">BOOK A TEST</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">LAB LOCATOR</a>
			</li>
		</ul>
	</div>
</div>
