<div id="desktop-v">
	<!-- main header section start -->
	<section class="main-top-header">
		<header class="site-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-12 flex logo-custom-1">
						<div class="logo">
							<div class="region region-logo">
								<div class="views-element-container block block-views block-views-blockpathkind-system-block-1" id="block-views-block-pathkind-system-block-1">
									<div>
										<div class="view view-pathkind-system view-id-pathkind_system view-display-id-block_1 js-view-dom-id-6459670ba4019190ffb690af149d8b98ad031b37af9bebff11538905180db49d">
											<div class="view-content">
												<div class="views-row">
													<div class="views-field views-field-field-image">
														<div class="field-content">
															<a href="/" title="logo">
																<img class="img-fluid" src="/assets/images/shrinivasdiagnostics_logo.png" alt="logo" />
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="search-toggle" id="search-toggle">
							<i class="fa fa-search"></i>
						</div>
					</div>
					<div class="col-lg-5 col-md-8 col-sm-12 search-custom-1">
						<div class="city-search-section">
							<div class="search-center">
								<div class="region region-search">
									<div id="block-webform-6" class="block block-webform block-webform-block">
										<form class="webform-submission-form webform-submission-add-form webform-submission-header-search-form-form webform-submission-header-search-form-add-form js-webform-details-toggle webform-details-toggle" data-drupal-selector="webform-submission-header-search-form-add-form" action="/" method="post" id="webform-submission-header-search-form-add-form" accept-charset="UTF-8">
											<div class="search-city-wrapper js-form-item form-item js-form-type-webform-autocomplete form-type-webform-autocomplete js-form-item-city-name form-item-city-name form-no-label">
												<input class="search-city-auto form-autocomplete form-text webform-autocomplete" data-drupal-selector="edit-city-name" data-autocomplete-path="/webform/header_search_form/autocomplete/city_name" type="text" id="edit-city-name" name="city_name" value="" size="60" maxlength="255" placeholder="Search City" />
											</div>
											<div id="edit-markup" class="js-form-item form-item js-form-type-webform-markup form-type-webform-markup js-form-item-markup form-item-markup form-no-label">
												<a href="#" id="header-search-submit" class="btn">Submit</a>
											</div>
											<input autocomplete="off" data-drupal-selector="form-mlwle7asrtqaqwq3ra7xkjr4jxxwe8b3dz5btvy3zcs" type="hidden" name="form_build_id" value="form-mLwle7aSRtQAqwQ3rA7xKjR4jxxwE8B3dZ5btVy3ZCs" />
											<input data-drupal-selector="edit-webform-submission-header-search-form-add-form" type="hidden" name="form_id" value="webform_submission_header_search_form_add_form" />
										</form>
									</div>
									<div id="block-searchingblock" class="block block-block-content block-block-content579f86f9-55fa-4722-affb-bbc56893aeb6">
										<div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><div class="path-search-center">
											<form accept-charset="utf-8" action="/book-blood-test-online-in-india/" class="search-container" id="test_search_header_form" method="GET">
												<input autocomplete="new-password" name="hidden" style="display:none;" type="text" /> 
												<input id="city-holder-2" name="test_location_id" type="hidden" value="310" /> 
												<input aria-autocomplete="both" aria-haspopup="false" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="" class="test_search_input_field search__labtestpackage" id="search-bar-2" name="q" placeholder="Search for a test, health package or Labs" role="combobox" spellcheck="false" type="text" /> 
												<input id="test-package-search-holder" name="test_package_name" type="hidden" /> 
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12 text-right md-0 icon-custom-1">
					<div class="right-infos">
						<ul>
							<li class="call">
								<div class="region region-call-us">
									<span data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=views_block__pathkind_system_block_2&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=xljbwy4x9MD_EGlyVP1cGXHINUJrGXUdUEfHJ_lIc20"></span>
								</div>
							</li>
							<li class="cart">
								<div class="region region-cart">
									<div class="views-element-container block block-views block-views-blockpathkind-system-block-3" id="block-views-block-pathkind-system-block-3">
										<div>
											<div class="view view-pathkind-system view-id-pathkind_system view-display-id-block_3 js-view-dom-id-3f2575c4738f498487813c4627bb9058cda40955ace97ca34296da0153905495">
												<div class="view-content">
													<div class="views-row">
														<div class="views-field views-field-field-image">
															<div class="field-content">
																<a href="/shopping-cart/" title="Cart">
																	<img class="img-fluid" src="/assets/images/cart.png" alt="cart" /> 
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<span class="cart-badge" style="display:none">
									<span></span>
								</span>
							</li>
							<li class="user">
								<a href="/login-popup" title="Hi Tes" class="use-ajax sf-depth-1 prf-login" data-dialog-options="{&quot;width&quot;:400}" data-dialog-renderer="off_canvas" data-dialog-type="dialog" data-overlay="true">
									<span class="user-name">T</span> 
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>

	{% include "navbar.html" %}	

</section>     