<section class="navigation tab-navigation">
	<div class="container-fluid">
		<div class="row custom-flex">
			<div class="col-xs-3 col-lg-3 col-md-3 col-sm-3"></div>
				<div class="col-xs-12 col-lg-9 col-md-12 col-sm-12">
					<div class="mainmenu" id="mainmenu">
						<div class="region region-primary-menu">
							<div id="block-popupblock" class="block block-block-content block-block-contentf2313798-0896-4cff-a94b-3b414bd49787">
								<div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
									<p class="MsoNormal" style="margin: 0px; color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"><b><i>Dear Esteemed Customers/Patients</i></b></p>
									<p class="MsoNormal" style="margin: 0px; color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"><b><i> </i></b></p>
									<p class="MsoNormal" style="margin: 0px; color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"><b><i>We are aware, you are going through difficult times. We at Pathkind are committed to serve you to the best of our ability despite the overwhelming rush we are witnessing in all our centres. Despite our teams working 24*7 we are observing delays in our services like reports delivery, call waiting time by our customer care team and accepting home collection requests. Please bear with us.</i></b></p>
									<p class="MsoNormal" style="margin: 0px; color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"><b><i> </i></b></p>
									<p class="MsoNormal" style="margin: 0px; color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"><b><i>We will reach out to you as promptly as we can.</i></b></p>
									<p class="MsoNormal" style="margin: 0px; color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"><b><i> </i></b></p>
									<p class="MsoNormal" style="margin: 0px; color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"><b><i>We wish you good luck, good health &amp; God Oversight.</i></b></p>
								</div>
							</div>
							<div id="block-mainnavigation" class="block block-superfish block-superfishmain">
								<ul id="superfish-main" class="menu sf-menu sf-main sf-horizontal sf-style-none sf-js-enabled sf-shadow">
									<li id="main-menu-link-content002c078a-c18f-4a8d-84a4-8f753b9c7b33" class="active-trail sf-depth-1 sf-no-children">
										<a href="/" class="is-active sf-depth-1" title="Home">Home</a>
									</li>
									<li id="main-menu-link-content7711ea7f-036e-4ab3-892a-6500f31b97ff" class="sf-depth-1 sf-no-children">
										<a href="/book-blood-test-online-in-india/" class="sf-depth-1">Book a Test</a>
									</li>
									<li id="main-menu-link-content688ff7e9-4161-48a7-a8c6-6700a2ecdd9b" class="sf-depth-1 sf-no-children">
										<a href="https://nearby.pathkindlabs.com/" class="sf-depth-1 sf-external" title="Lab Locator">Lab Locator</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
