{% extends 'base_shop.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}
{{ page_title }}
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block extra_style %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/style_shopdetail.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}

<!-- Inner checkout items start -->
<div class="inner-checkout">
	<div class="container">

		<div class="row">

			<div class="col-lg-8 col-md-8 col-sm-12">
				<div class="flex-inline">
					<div class="heading-small-v-2">Order Overview{{ total_payment.get_final_price }}</div>
					<a href="/book-test/" class="btn-1 btn">+ Add Tests</a>
				</div>

				<div class="accordian checkout-collapse">

					<!-- item-1 -->
					<div  id="checkout-collapse-item-1">
						<div class="card">
							<div class="card-header" id="headingOne">
								<h2 class="mb-0">
									<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-item-1" aria-expanded="true" aria-controls="collapse-item-1">1. Assign Tests to Patient(s)</button>
								</h2>
							</div>

							<div id="collapse-item-1" class="collapse checkout-collapse-body" aria-labelledby="headingOne" data-parent="#checkout-collapse-item-1">
								<div class="card-body">
									<small>Please select a patient for each test</small>
									{% for item in products %}
									<div class="flex-inline inner-checkout-strip">
										<p class="item-name" item-price="200">{{ item.product.title }} </p>
										<div class="dropdown checkout-add-more-patient">
											<button patient-id="" class="btn dropdown-toggle selected-patient" type="button" id="dropdownMenuButton select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select</button>
											<div class="dropdown-menu patient-list" aria-labelledby="dropdownMenuButton">
												<a class="add-patient add-new-patient" item-id="1226" item-type="1">+ Add new patient</a>
												{% for patient in patients %}
												<div class="patient-count flex-inline">
													<p class="name patient-name"  data-patient-name="{{ patient.full_name }}" data-patient-id="45000" data-item-index="1" data-item-id="1226" data-item-type="1">{{ patient.full_name }}</p>
													<a class="info-patient" patient-id="45000">info</a>
												</div>
												{% endfor %}
											</div>
										</div>
										<!-- <a class="add-patient" item-id="1226" item-type="1">+ Add Patient</a> -->
									</div>
									{% endfor %}
								</div>
							</div>
						</div>

						<div class="sidebar-patient-add">
							<a class="close-sidebar" id="add-patient-close"><img src="/assets/images/close.png" class="img-fluid"></a>
							<div class="sidebar-inner">
								<div class="header">
									<img src="/assets/images/white-logo.png">
								</div>
								<div class="sidebar">
									<h3 class="heading-small-v-2">Add Patient</h3>
									<form action="/checkout/add_patient_for_test" id="add-patient-for-test-form" class="schedule-home-form" method="post">
										<input type="hidden" name="csrf_test_name" value="26424dddac305e9f479f8c929363d4e2" />
										<div class="form-group pb-0 mb-0">
											<input class="custom-form-control alpha_space_only" name="name" id="name" type="text" placeholder="Name" maxlength="60">
											<span class="form-error"></span>
										</div>

										<!--
										<div class="form-group pb-0 mb-0 city">
											<select name="location_id" id="location_id">
												<option value="">Select</option>
												<option value="100" selected>Gurugram</option>
											</select>
											<span class="form-error"></span>
										</div>
										-->

										<div class="form-group pb-0 mb-0">
											<input class="custom-form-control" name="birthdate" id="birthdate" type="text" placeholder="Date of Birth" onfocus="(this.type='date')">
											<span class="form-error"></span>
										</div>

										<div class="form-group pb-0 mb-0">
											<input class="custom-form-control number_only" name="mobile" id="mobile" type="text" placeholder="mobile" maxlength="10" value="">
											<span class="form-error"></span>
										</div>

										<div class="form-group pb-0 mb-0">
											<input class="custom-form-control email_only" name="email" id="email" type="email" placeholder="Email" maxlength="255" value="">
											<span class="form-error"></span>
										</div>

										<div class="row flex-custom-gender">
											<div class="form-group">
												<select name="gender" class="custom-form-control" id="gender">
													<option value="" selected="selected">Select Gender</option>
													<option value="1">Male</option>
													<option value="2">Female</option>
													<option value="3">Other</option>
												</select>
												<span class="form-error"></span>
											</div>
											<div class="form-group">
												<select name="relation" class="custom-form-control" id="relation">
													<option value="" selected="selected">Select Relation</option>
													<option value="1">Father</option>
													<option value="2">Mother</option>
													<option value="3">Spouse</option>
													<option value="4">Son</option>
													<option value="5">Daughter</option>
													<option value="6">Family</option>
												</select>
												<span class="form-error"></span>
											</div>
										</div>

										<button type="submit" class="btn-2 add-patient-for-test-btn">Done</button>
									</form>
								</div>
							</div>
						</div>

						<div class="sidebar-profile-add" style="display:none;">
							<a class="close-sidebar" id="add-profile-close"><img src="/assets/images/close.png" class="img-fluid"></a>
							<div class="sidebar-inner">
								<div class="header">
									<img src="/assets/images/white-logo.png">
								</div>

								<div class="sidebar">
									<h3 class="heading-small-v-2">Add Patient</h3>
									<form action="/checkout/add_profile" id="add-profile-for-test-form" class="schedule-profile-form" method="post">
										<input type="hidden" name="csrf_test_name" value="26424dddac305e9f479f8c929363d4e2" />
										<input type="hidden" name="user_id" value="43142">
										<div class="form-group pb-0 mb-0">
											<input class="custom-form-control alpha_space_only" name="name" value="Tes" id="name1" type="text" placeholder="Name" maxlength="60">
											<span class="form-error"></span>
										</div>

										<!--
										<div class="form-group pb-0 mb-0 city">
											<select name="location_id" id="location_id">
												<option value="">Select</option>
												<option value="100" selected>Gurugram</option>
											</select>
											<span class="form-error"></span>
										</div>
										-->

										<div class="form-group pb-0 mb-0"><input class="custom-form-control" name="birthdate" id="birthdate1" type="text" placeholder="Date of Birth" onfocus="(this.type='date')">
											<span class="form-error"></span>
										</div>
										<div class="form-group pb-0 mb-0">
											<input class="custom-form-control number_only" name="mobile" id="mobile1" type="text" maxlength="60" placeholder="mobile" value="8968306095">
											<span class="form-error"></span>
										</div>
										<div class="form-group pb-0 mb-0">
											<input class="custom-form-control email_only" name="email" id="email1" type="email" maxlength="255" placeholder="Email" value="tes@test.com">
											<span class="form-error"></span>
										</div>
										<div class="form-group pb-0 mb-0">
											<select name="gender" class="custom-form-control" id="gender1">
												<option value="" selected="selected">Select Gender</option>
												<option value="1">Male</option>
												<option value="2">Female</option>
												<option value="3">Other</option>
											</select>
											<span class="form-error"></span>
										</div>
										<button type="submit" class="btn-2 add-profile-for-test-btn">Done</button>
									</form>
								</div>
							</div>
						</div>

						<div class="sidebar-patient-info">
							<a class="close-sidebar" id="info-patient-close"><img src="/assets/images/close.png" class="img-fluid"></a>
							<div class="sidebar-inner">
								<div class="header">
									<img src="/assets/images/white-logo.png">
								</div>
								<div class="sidebar">
									<h3 class="heading-small-v-2">Patient Info</h3>
									<div class="form-group pb-0 mb-0">
										<label>Name</label>
										<label class="name"></label>
									</div>
									<div class="form-group pb-0 mb-0">
										<label>Date Of Birth</label>
										<label class="birthdate"></label>
									</div>
									<div class="form-group pb-0 mb-0">
										<label>Mobile</label>
										<label class="mobile"></label>
									</div>
									<div class="form-group pb-0 mb-0">
										<label>Email</label>
										<label class="email"></label>
									</div>
									<div class="form-group pb-0 mb-0">
										<label>Gender</label>
										<label class="gender"></label>
									</div>
									<div class="form-group pb-0 mb-0">
										<label>Relation</label>
										<label class="relation"></label>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Sidebar patient add -->
					<!-- item-2 -->
					<div id="checkout-collapse-item-2">
						<div class="card">
							<div class="card-header" id="headingTwo">
								<h2 class="mb-0">
									<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse-item-2" id="billing_address" aria-expanded="false" aria-controls="collapse-item-2">2. Billing Address</button>
								</h2>
							</div>

							<style>
							.form-group .easy-autocomplete
							{
								width: 100%!important;
							}
							</style>

							<div id="collapse-item-2" class="collapse checkout-collapse-body" aria-labelledby="headingTwo" data-parent="#checkout-collapse-item-2">
								<div class="card-body">
									<div class="row billing-address">
										<div class="col-md-6">
											<div class="box">
												{% for item in user_address %}
												<input type="radio" name="default_address" data-address-id="15644" checked=checked onclick="set_default_address('15644')" id="default_billing_address">
												<div class="billing-address-list">
													<p>{{ item.address }}</p>
													<p>{{ item.city.name }}</p>
													<p>{{ item.state }}</p>
													<p>{{ item.zip }}</p>
													<a class="action action-editaddress" address-id="15644" user-address-id="15644"><span>Edit</span></a>
												</div>
												{% endfor %}
											</div>
										</div>
									</div>

									<small class="schedule-home-form" style="display:none">Add Your Billing Details</small>
									<form action="/checkout/add_billing_address" id="add_billing_address_form" class="schedule-home-form" style="display:none" method="post">
										<input type="hidden" name="csrf_test_name" value="26424dddac305e9f479f8c929363d4e2" />
										<input autocomplete="false" name="hidden" type="text" style="display:none;">
										<div class="form-group">
											<input type="hidden" name="id" id="address_id">
											<input type="hidden" name="address_id" id="user_address_id">
											<input type="text" name="address_1" id="address_1" class="form-control checkout-flow-input" placeholder="Address Line 1">
											<span class="form-error"></span>
										</div>
										<div class="form-group">
											<input type="text" name="address_2" id="address_2" class="form-control checkout-flow-input" placeholder="Address Line 2 (Optional)">
											<span class="form-error"></span>
										</div>
										<div class="form-row">
											<div class="form-group col-md-6 state">
												<input type="text" name="billing-state" id="billing-state" class="form-control checkout-flow-input" placeholder="Change State" autocomplete="off" value="Haryana" readonly />
												<input type="hidden" name="state_id" id="billing-state-holder" value="12" />
												<span class="form-error"></span>
											</div>
											<div class="form-group col-md-6 city">
												<input type="text" id="billing-city" class="form-control checkout-flow-input" placeholder="Change City" value="Gurugram" readonly />
												<input type="hidden" name="city_id" id="billing-city-holder" value="100" />
												<span class="form-error"></span>
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col-md-6">
												<input type="text" name="pincode" id="pincode"class="form-control checkout-flow-input number_only" placeholder="Pin Code" maxlength="6">
												<span class="form-error"></span>
											</div>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-1" id="add-billing-address-btn">Next</button>
										</div>
									</form>

									<div class="col-md-12 text-right">
										<div class="">
											<a class="action action-address" onclick="add_billing_address();">
												<img src="/assets/images/add.svg">
												<span>Add Address</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- item-4 -->
					<div id="checkout-collapse-item-4" class="home-collection-date-and-time" style="display:none;">
						<div class="card">
							<div class="card-header" id="headingFour">
								<h2 class="mb-0">
									<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse-item-4" aria-expanded="false" aria-controls="collapse-item-4" id="home_collection_datetime_tab">4. Preferred Home Collection Date & Time</button>
								</h2>
							</div>

							<div id="collapse-item-4" class="collapse checkout-collapse-body" aria-labelledby="headingFour" data-parent="#checkout-collapse-item-4">
								<div class="card-body">
									<form action="/checkout/add_home_collection_other_details" id="home_collection_other_details_form" class="m-t-10" method="post">
										<input type="hidden" name="csrf_test_name" value="26424dddac305e9f479f8c929363d4e2" />
										<input type="hidden" name="is_home_collection" value="" />
										<input type="hidden" name="home_collection_other_detail_id" value="" />
										<div class="home-collection-other-details">
											<small class="m-b-10">Home Collection Date and Time</small>
											<div class="form-row">
												<div class="form-group col-md-6">
													<input type="date" name="collection_date" id="collection_date" class="form-control checkout-flow-input" placeholder="Date" value="">
													<span class="form-error"></span>
												</div>
												<div class="form-group col-md-6">
													<select name="collection_time" class="form-control checkout-flow-select" id="collection_time" placeholder="Select">
														<option value="" selected="selected">Select</option>
														<option value="9:00 am to 6:00 pm">9:00 am to 6:00 pm</option>
													</select>
													<!--<input type="time" name="collection_time" id="collection_time" class="form-control checkout-flow-input" placeholder="Time" value="">-->
													<span class="form-error"></span>
												</div>
											</div>
											<div class="form-group">
												<button type="submit" id="add_home_collection_other_details_btn" class="btn btn-1">Next</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- item-5 -->
					<div id="checkout-collapse-item-5">

						<div class="card">
							<div class="card-header" id="headingFive">
								<h2 class="mb-0">
									<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse-item-5" aria-expanded="false" aria-controls="collapse-item-5" id="payment_details">3. Payment Details</button>
								</h2>
							</div>

							<div id="collapse-item-5" class="collapse checkout-collapse-body" aria-labelledby="headingFive" data-parent="#checkout-collapse-item-5">
								<div class="card-body">
									<form action="" id="add_payment_details_form" method="POST">
										{% csrf_token %}
										<small class="m-b-10">Select payment mode</small>
										<div class="form-group checkbox-group">
											<div class="inner-group">
												<label class="container-check">Online
													<input type="hidden" class="razorpay_key" name="{{ razorpay_key }}" value="{{ razorpay_key }}" />
													<input type="hidden" class="provider_order_id" name="{{ provider_order_id }}" value="{{ provider_order_id }}" />
													<input type="hidden" class="currency" name="{{ currency }}" value="{{ currency }}" />
													<input type="radio" name="payment_mode" value="Online">
													<span class="checkmark"></span>
												</label>
											</div>
											<div class="inner-group">
												<label class="container-check">Cash at home
													<input type="radio" name="payment_mode" value="Cash" checked="checked">
													<span class="checkmark"></span>
												</label>
											</div>
										</div>
										<span class="form-error"></span>
										<button type="submit" class="btn btn-1 m-12 add_payment_details_btn" id="add_payment_details_btn">Proceed to Book test</a>
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- Sidebar Summary -->
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="checkout-summary">
					<div class="heading-small-v-2">Summary</div>
					<div class="row m-t-40">
						{% for item in products %}
						<div class="summary-item-name col-md-9" id="12261">{{ item.product.title }} </div>
						<div class="summary-item-price col-md-3">&#8377; {{ item.product.price }}</div>
						<div class="summary-patient-name col-md-12">Patient : </div>
						{% endfor %}
					</div>

					{% if cart_order.get_total_price %}
					<div class="flex-inline border" style="border-left: 0px!important; border-right: 0px!important; border-bottom: 0px!important; padding: 10px 0; margin-bottom: 15px;">
						<p>Subtotal</p>
						<p class="subtotal">&#8377; {{ cart_order.get_total_price }}</p>
					</div>

					<div class="flex-inline home-collection-charges" style="display:none">
						<p class="text-right"><span style="display: inline-block; float:left;"> Home Collection charge </span> &#8377;
							<!-- <span id="collection-charges" style="float:right;">0</span> -->
							<span id="collection-charges" style="float:right;">0</span>
						</p>
					</div>
					<div class="flex-inline border strong-summary-text">
						<p>Total</p>
						<p class="total-charges">&#8377; {{ cart_order.get_total_price }}</p>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}


{% block extra_jscript %}
<script type='text/javascript'>
$(document).ready(function()
{

	$('.patient-name').click(function()
	{
		var get_patient = $(this).text();

		$.ajax(
        {
            url:'{% url "order:checkout" %}',
            data:
            {
                'get_patient': get_patient,
            },

            success: function(data)
            {
            	// console.log("get_patient: ", get_patient);
            	$(".checkout-add-more-patient").html('<div class="dropdown checkout-add-more-patient"><button patient-id="" class="btn dropdown-toggle selected-patient" type="button" id="dropdownMenuButton select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' + get_patient + '</button></div>');
            },
        });
	});

	var razorpay_key = $(".razorpay_key").text();
	var currency = $(".currency").text();
	var amount = $(".total-charges").text();

	console.log("razorpay_key: ", razorpay_key);

	amount = Number(amount.replace(/[^0-9\.-]+/g,""));
	let obj = amount

	var options =
	{
		key: "{{ razorpay_key }}",
		amount: "{{ amount }}",
		currency: "{{ currency }}",
		name: "{{ store_name }}",
		image: "http://127.0.0.1:8000/assets/images/shrinivasdiagnostics_logo.png",
		payment_id: "{{ provider_order_id }}",
		callback_url: "{{ callback_url }}",
		prefill: {
            "name": "{{ name }}",
            "email": "{{ email }}",
            "contact": "{{ phone_number }}"
        },
        notes: {
            "address": "ShrinivasDiagnostic Lab Office"
        }
	};

	var rzp1 = new Razorpay(options);

	// $("input[type='button']").click(function()
	// {
	// 	alert("Your are a - " + radioValue);

	// 	var radioValue = $("input[name='payment_mode']:checked").val();
	// 	if(radioValue)
	// 	{
	// 		alert("Your are a - " + radioValue);
	// 	}
	// });

	// var radioValue = $("input[name='payment_mode']:checked").val();
	// console.log("radioValue", radioValue);

	$('input:radio[name="payment_mode"]').change(function(e)
	{
	// 	e.preventDefault();
		// var payment_mode = $(this).val();
		// console.log("payment_mode", payment_mode);

		if ($(this).is(':checked') && $(this).val() == 'Online')
		{
			var payment_mode = $('input:radio[name="payment_mode"]').val();
			// e.preventDefault();
			// document.getElementById("pay-btn").onclick = function(e)
			// $('#add_payment_details_btn').click(function(e)
			// {
			console.log("Online");
			// $('#add_payment_details_btn').submit(function(e)
			// {
			// 	e.preventDefault();
			rzp1.open();
			e.preventDefault();
			// });
        }
        else
        {
			// $('#add_payment_details_btn').click(function(e)
			// {
				// console.log("payment_mode Cash", payment_mode);
			console.log("Cash");
			// $('#add_payment_details_btn').submit(function(e)
			// {
			// 	e.preventDefault();
			// 	rzp1.open();
			// });
        }
	})

	// if("input[type='button']").is(":checked"))
	// if($("input[name='payment_mode']:checked").val() === 'Radio');
	// // $("input[@name=Online]:checked").val();
	// // if("input[type='button']").is(":checked"))
	// {
	// 	// console.log("payment_mode: ", payment_mode);
	// 	console.log("Your");
	// }

	// if($("input[data-name='Online']").is(":checked"))
	// {
	// 	console.log("payment_mode: ", payment_mode);
	// }

	// $('#add_payment_details_btn').click(function(e)
	// {
	// 	// e.preventDefault();
	// 	// console.log("Cash!!");
	// 	// var payment_mode = $(this).val();
	// 	console.log("payment_mode", payment_mode);

	// 	$('input:radio[name="payment_mode"]').change(function(e)
	// 	{
	// 		e.preventDefault();

	// 		if ($(this).is(':checked') && $(this).val() == 'Online')
	// 		{
	// 			// console.log("Online!!");
	// 			// document.getElementById("pay-btn").onclick = function(e)
	//         }
	//         else
	//         {
	//         	// console.log("Cash!!");
	//         }
	// 	})


	// 	var payment_mode = $('input[name="payment_mode"]:checked').val();
	// 	console.log("payment_mode: ", payment_mode);

	// 	document.getElementById("pay-btn").onclick = function(e)
	// 	{
	// 		rzp1.open();
	// 		e.preventDefault();
	// 	};
	// 	// if ($('input[name="payment_mode"]').is(":checked"))
	// 	// if (payment_mode === 'Online').is(":checked"))
	// 	// {
	// 	// 	alert("is check");
		// }

	// 	if($('input[name="payment_mode"]:checked').val() === 'Online')
	// 	{
	// 		alert("is check");
	// 		e.preventDefault();
	// 		e.stopPropagation();
	// 		$(".add_payment_details_btn").unbind('click');
	// 		rzp1.open();
	// 		console.log("payment_mode: ", payment_mode);
	// 	}
	// 	if(payment_mode === 'Cash')
	// 	{
	// 		console.log("payment_mode", payment_mode);
	// 	}
	// });

	// $('#add_payment_details_btn').submit(function(e)
	// {
	// 	if(payment_mode === 'Online')
	// 	{
	// 		e.preventDefault();
	// 		rzp1.open();
	// 	}
	// });
});
</script>

{% endblock %}
