{% block head_title %}
{{ page_title }}
{% endblock %}

{% block content %}
<form method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
    var options =
    {
    	key: "{{ razorpay_key }}",
    	amount: "{{ amount }}",
    	currency: "{{ currency }}",
    	name: "{{ store_name }}",
    	image: "http://127.0.0.1:8000/assets/images/shrinivasdiagnostics_logo.png",
    	order_id: "{{ provider_order_id }}",
    	callback_url: "{{ callback_url }}",
    	redirect: true,
    	prefill: {
    		"name": "{{ full_name }}",
    		"email": "{{ email }}",
    		"contact": "{{ phone_number }}"
    	},
    	notes: {
    		"address": "ShrinivasDiagnostic Lab Office"
    	},
    	theme: {
    		"color": "#528FF0"
    	}
    };

    var rzp1 = new Razorpay(options);
    rzp1.open();
	</script>
</form>

{% endblock %}
