{% extends 'base_shop.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}
{{ page_title }}
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block extra_style %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/style_shopdetail.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}

<!-- Inner checkout items start -->
<div class="inner-checkout">
	<div class="container">

		<div class="row">

			<div class="col-lg-8 col-md-8 col-sm-12">
				<div class="flex-inline">
					<div class="heading-small-v-2">Order Overview{{ total_payment.get_final_price }}</div>
					<a href="/book-blood-test-online-in-india/" class="btn-1 btn">+ Add Tests</a>
				</div>

				<div class="accordian checkout-collapse">

					<!-- Sidebar patient add -->
					<!-- item-2 -->
					<div id="checkout-collapse-item-2">
						<div class="card">
							<div class="card-header" id="headingTwo">
								<h2 class="mb-0">
									<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse-item-2" id="billing_address" aria-expanded="false" aria-controls="collapse-item-2">1. Billing Address</button>
								</h2>
							</div>

							<style>
							.form-group .easy-autocomplete
							{
								width: 100%!important;
							}
							</style>

							<div id="collapse-item-2" class="collapse checkout-collapse-body" aria-labelledby="headingTwo" data-parent="#checkout-collapse-item-2">
								<div class="card-body">
									<div class="row billing-address">
										<div class="col-md-6">
											<div class="box">
												{% for item in user_address %}
												<input type="radio" name="default_address" data-address-id="15644" checked=checked onclick="set_default_address('15644')" id="default_billing_address">
												<div class="billing-address-list">
													<p>{{ item.address }}</p>
													<p>{{ item.city.name }}</p>
													<p>{{ item.state }}</p>
													<p>{{ item.zip }}</p>
													<a href="{% url 'address:update_billingaddress' item.pk %}" class="action action-editaddress" address-id="15644" user-address-id="15644"><span>Edit</span></a>
												</div>
												{% endfor %}
											</div>
										</div>
									</div>

									<small class="schedule-home-form" style="display:none">Add Your Billing Details</small>
										<form action="/checkout/add_billing_address" id="add_billing_address_form" class="schedule-home-form" style="display:none" method="post">
											<input type="hidden" name="csrf_test_name" value="26424dddac305e9f479f8c929363d4e2" />
											<input autocomplete="false" name="hidden" type="text" style="display:none;">
											<div class="form-group">
												<input type="hidden" name="id" id="address_id">
												<input type="hidden" name="address_id" id="user_address_id">
												<input type="text" name="address_1" id="address_1" class="form-control checkout-flow-input" placeholder="Address Line 1">
												<span class="form-error"></span>
											</div>
											<div class="form-group">
												<input type="text" name="address_2" id="address_2" class="form-control checkout-flow-input" placeholder="Address Line 2 (Optional)">
												<span class="form-error"></span>
											</div>
											<div class="form-row">
												<div class="form-group col-md-6 state">
													<input type="text" name="billing-state" id="billing-state" class="form-control checkout-flow-input" placeholder="Change State" autocomplete="off" value="Haryana" readonly />
													<input type="hidden" name="state_id" id="billing-state-holder" value="12" />
													<span class="form-error"></span>
												</div>
												<div class="form-group col-md-6 city">
													<input type="text" id="billing-city" class="form-control checkout-flow-input" placeholder="Change City" value="Gurugram" readonly />
													<input type="hidden" name="city_id" id="billing-city-holder" value="100" />
													<span class="form-error"></span>
												</div>
											</div>
											<div class="form-row">
												<div class="form-group col-md-6">
													<input type="text" name="pincode" id="pincode"class="form-control checkout-flow-input number_only" placeholder="Pin Code" maxlength="6">
													<span class="form-error"></span>
												</div>
											</div>
											<div class="form-group">
												<button type="submit" class="btn btn-1" id="add-billing-address-btn">Next</button>
											</div>
										</form>

									<div class="col-md-12 text-right">
										<div class="">
											<a class="action action-address" onclick="add_billing_address();">
												<img src="/assets/images/add.svg">
												<span>Add Address</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>

{% endblock %}



{% block extra_jscript %}
<script type='text/javascript'>
$(document).ready(function()
{
});
</script>

{% endblock %}
