{% extends 'base_shop.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block head_title %}
{{ page_title }}
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block extra_style %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/style_shopdetail.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}

<!-- Inner checkout items start -->
<div class="inner-checkout">
	<div class="container">

		<div class="row">

			<div class="col-lg-8 col-md-8 col-sm-12">
				<div class="flex-inline">
					<div class="heading-small-v-2">Billing Address{{ total_payment.get_final_price }}</div>
					<a href="/book-blood-test-online-in-india/" class="btn-1 btn">+ Add Tests</a>
				</div>

				<div class="accordian checkout-collapse">
					<small class="schedule-home-form" style="display:none">Add Your Billing Details</small>
						<form action="{% url 'order:checkout' %}" id="add_billing_address_form" class="schedule-home-form" method="POST">
						{% csrf_token %}
							{{ form|crispy }}
							<div class="form-group">
								<button type="submit" class="btn btn-1" id="add-billing-address-btn">Save</button>
							</div>
						</form>

					</div>
				</div>
			</div>

		</div>
	</div>

</div>

{% endblock %}



{% block extra_jscript %}
<script type='text/javascript'>
$(document).ready(function()
{
});
</script>

{% endblock %}
